<div class="container-fluid">
  <div class="row py-5">
    <div class="col-md-12 px-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-linkAccounts-tab" data-toggle="tab" href="#nav-linkAccounts"
            role="tab" aria-controls="nav-linkAccounts" aria-selected="false" *ngIf="!roleEmp"><i class="fas fa-link"
              *ngIf="!roleEmp"></i> LINK SOCIAL
            PLATFORMS</a>

          <a class="nav-item nav-link" id="nav-setGoals-tab" data-toggle="tab" href="#nav-setGoals" role="tab"
            aria-controls="nav-setGoals" aria-selected="false" *ngIf="!roleEmp"><i class="fas fa-dot-circle"
              *ngIf="!roleEmp"></i> SET GOALS/INVITATIONS</a>


          <a class="nav-item nav-link" id="nav-feedbackForm-tab" *ngIf="!roleEmp" data-toggle="tab"
            href="#nav-feedbackForm" role="tab" aria-controls="nav-feedbackForm" aria-selected="true">
            <i class="far fa-comment-dots"></i> FEEDBACK
            FORM</a>

          <a class="nav-item nav-link" id="nav-smsSettings-tab" data-toggle="tab" href="#nav-smsSettings" role="tab"
            aria-controls="nav-smsSettings" aria-selected="false" *ngIf="!roleEmp"><i class="fas fa-sms"
              *ngIf="!roleEmp"></i> REQUEST SERVICES</a>

          <a class="nav-item nav-link" id="nav-profileSettings-tab" data-toggle="tab" href="#nav-profileSettings"
            role="tab" aria-controls="nav-profileSettings" aria-selected="true"><i class="fas fa-user-cog"></i> PROFILE
            SETTINGS</a>

          <a class="nav-item nav-link" id="nav-changePassword-tab" data-toggle="tab" href="#nav-changePassword"
            role="tab" aria-controls="nav-changePassword" aria-selected="false"><i class="fas fa-user-alt"></i> CHANGE
            PASSWORD</a>
          <!-- 
          <a class="nav-item nav-link" id="nav-sharePlatform-tab" data-toggle="tab" href="#nav-sharePlatform"
            role="tab" aria-controls="nav-sharePlatform" aria-selected="false" *ngIf="!roleEmp"><i class="fas fa-user-alt" *ngIf="!roleEmp"></i> SHARE PLATFORM
            </a> -->

          <!-- <a class="nav-item nav-link" id="nav-sharePlatform-tab" data-toggle="tab" href="#nav-sharePlatform"
            role="tab" aria-controls="nav-sharePlatform" aria-selected="false"  *ngIf="!roleEmp"><i class="fas fa-share-alt" *ngIf="!roleEmp"></i> 
            SHARE PLATFORM</a> -->
        </div>
      </nav>
    </div>
    <div class="col-md-12 p-3">
      <div class="tab-content" id="nav-tabContent">
        <!-- Profile Settings -->
        <div class="tab-pane fade p-3" [ngClass]="{'active show': roleEmp}" id="nav-profileSettings" role="tabpanel"
          aria-labelledby="nav-profileSettings-tab">
          <form [formGroup]='profileForm' (ngSubmit)='updateProfile()'>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" formControlName='firstname' class="form-control form-control-lg"
                  placeholder="First Name" [ngClass]="{'invalid-input': submittedProfile && p.firstname.errors }">
              </div>
              <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" formControlName='lastname' class="form-control form-control-lg"
                  placeholder="Last Name" [ngClass]="{'invalid-input': submittedProfile && p.lastname.errors }">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Email Id</label>
                <input type="text" formControlName='email' class="form-control form-control-lg" placeholder="Email"
                  [ngClass]="{'invalid-input': submittedProfile && p.email.errors }">
              </div>
              <div class="form-group col-md-6">
                <label>Contact Number</label>
                <input type="text" formControlName='contactno' class="form-control form-control-lg"
                  placeholder="Contact Number" [ngClass]="{'invalid-input': submittedProfile && p.contactno.errors }">
              </div>
            </div>
            <div class="form-group">
              <label>Business Name</label>
              <input type="text" formControlName='businessname' class="form-control form-control-lg"
                placeholder="Business Name" [ngClass]="{'invalid-input': submittedProfile && p.businessname.errors }">
            </div>

            <button type="button" class="btn btn-lg btn-primary mr-1 float-right" *ngIf="editMode"
              (click)="reset()">CANCEL</button>
            <button type="submit" class="btn btn-lg btn-primary mr-1 float-right" *ngIf="editMode">UPDATE</button>
            <button type="button" class="btn btn-lg btn-primary float-right" (click)="editProfile()"
              *ngIf="!editMode">EDIT</button>
          </form>
          <label for="message">
            <b><span class="required">Note: To update Email, Contact No, or Business Name contact specview support
                team.</span> </b>
          </label>
        </div>
        <!-- FEEDBACK Form Settings -->
        <!-- FEEDBACK Form Settings -->
        <div class="tab-pane fade p-3" id="nav-feedbackForm" role="tabpanel" aria-labelledby="nav-feedbackForm-tab">
          <div class="row">
            <span class="feedbacknote">
              Note* : To create new feedback form please delete old one.
            </span>
          </div>
          <div class="row">
            <div class="col-md-6 border p-3">
              <h4>CREATE YOUR FEEDBACK FORM</h4>
              <form [formGroup]='feedbackForm' class="p-2">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Write Your Question</label>
                    <input type="text" formControlName="questionText" class="form-control form-control-lg"
                      [ngClass]="{ 'is-invalid': submittedFeedback && f.questionText.errors }" />
                    <div *ngIf="submittedFeedback && f.questionText.errors" class="invalid-feedback">
                      <div *ngIf="f.questionText.errors.required">question is required</div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label>What You Accept as Response :</label>
                    <select formControlName="selectOption" class="form-control form-control-lg"
                      [ngClass]="{'is-invalid': submittedFeedback && f.selectOption.errors }">
                      <option value="Ratings">Ratings</option>
                      <option value="Radio">Radio Buttons</option>
                      <option value="Textarea">Textarea</option>
                    </select>
                    <div *ngIf="submittedFeedback && f.selectOption.errors" class="invalid-feedback">
                      <div *ngIf="f.selectOption.errors.required">question is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-row" *ngIf="isoption">
                  <div class="row" style="margin-left: 3.5%;">
                    <div class="row">
                      <div *ngIf='radioOption.length > 0'>
                        <div class="row" *ngFor='let option of radioOption;let i=index' style="height: 50%;
                font-size: large;
                display: contents;">
                          {{option.title}}
                          <span (click)='remove(i)'>
                            <i class="fas fa-window-close"></i>
                          </span>
                        </div>
                      </div>
                      <input type="text" formControlName="option" class="form-control form-control-lg"
                        placeholder="option" (keydown)='test($event)'>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary m-1" (click)="addOption()">Add Option</button>
                  </div>
                </div>
                <div class="float-right mt-4" *ngIf='feedbackTemplate.length == 0'>
                  <button type="button" class="btn btn-primary m-1" [disabled]="!feedbackForm.valid"
                    (click)="addQuestion()">Add
                    Question</button>
                </div>
              </form>
            </div>
            <div class="col-md-6" *ngIf="showFeedbackForm">
              <div class="card  p-2">
                <div class="formTitle d-inline" *ngIf='feedbackTemplate.length != 0'>
                  <h4 class="text-center d-inline"><span class="text-center">FEEDBACK FORM</span></h4>
                  <!-- <button type="button" class="btn btn-light d-inline float-right" (click)='deleteOneFeedbackForm()'> -->
                  <button type="button" class="btn btn-light d-inline float-right"
                    (click)="openDeleteFeedBackModal(opendeletefeedBackmodal)">

                    <i class="far fa-trash-alt"></i></button>
                  <div *ngFor='let feedbackdata  of feedbackTemplate' style="    padding-top: 3%;
          ">
                    <div class="row" *ngIf="feedbackdata.selectOption == 'Textarea'">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="question">Q.{{feedbackdata.questionText}}</label>
                          <input type="text" readonly="" class="form-control" id="staticEmail" value="email@example.com"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="feedbackdata.selectOption == 'Ratings'">
                      <div class="col-md-12">
                        <div class="form-group ">
                          <label class="question">Q.{{feedbackdata.questionText}}</label>
                          <div style="margin-left: 3%;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row" *ngIf="feedbackdata.selectOption == 'Radio'">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="question">Q.{{feedbackdata.questionText}}</label>
                          <div>
                            <ul *ngFor='let opt of feedbackdata.options'>
                              <li class="radios">
                                {{opt.title}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="" *ngIf='feedbackTemplate.length == 0'>
                  <div *ngIf='questions.length == 0'>
                    <h5 style="color: red;text-transform: capitalize">
                      Please add Feedback template unless there will be no feedback form for campaign/Feedback Temaplate
                    </h5>
                  </div>
                  <div *ngIf='questions.length != 0'>
                    <div *ngFor='let question of questions'>
                      <div class="row" *ngIf="question.selectOption == 'Textarea'">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="question">Q.{{question.questionText}}</label>
                            <input type="text" readonly="" class="form-control" id="staticEmail"
                              value="email@example.com" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="question.selectOption == 'Ratings'">
                        <div class="col-md-12">
                          <div class="form-group ">
                            <label class="question">Q.{{question.questionText}}</label>
                            <div style="margin-left: 3%">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="far fa-star"></i>
                              <i class="far fa-star"></i>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row" *ngIf="question.selectOption == 'Radio'">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="question">Q.{{question.questionText}}</label>
                            <div>
                              <ul *ngFor='let opt of question.options'>
                                <li class="radios">
                                  {{opt.title}}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card p-2" *ngIf='questions.length != 0'>
                <button type="button" (click)='onSubmitFeedbackForm()' class="btn btn-primary "
                  [disabled]="questions.length==0">Save Template</button>
              </div>
            </div>
          </div>
        </div>
        <!-- --------------change password--------------- -->
        <div class="tab-pane fade p-3 post-form-wrapper" id="nav-changePassword" role="tabpanel"
          aria-labelledby="nav-changePassword-tab">
          <div class="col-md-12">
            <div class="col-md-6">
              <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="form-group">
                  <label for="current-password">Current Password<span class="required">*</span></label>
                  <div class="relative">
                    <input type="password" formControlName='password' id='oldpassword'
                      class="form-control form-control-lg"
                      [ngClass]="{'invalid-input': submittedPassword && c.password.errors}">
                    <div class="absolute">
                      <div class="pretty p-icon p-toggle p-plain">
                        <input name="show-Password" type="checkbox" class="form-control" value="" id="show-Password"
                          onclick="showOldPassword('oldpassword')" />
                        <div class="state p-success-o p-on">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="state p-off">
                          <i class="fas fa-eye-slash"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="new-password">New Password<span class="required">*</span></label>
                  <div class="relative">
                    <input type="password" formControlName='newPassword' id='newpassword'
                      class="form-control form-control-lg"
                      [ngClass]="{'invalid-input': submittedPassword && c.newPassword.errors}">
                    <div *ngIf="submittedPassword && c.newPassword.errors" class="warningmsg ">
                      <div *ngIf="c.newPassword.errors.minlength" class="small">Password must be at least 8 characters
                      </div>
                    </div>
                    <div class="absolute">
                      <div class="pretty p-icon p-toggle p-plain">
                        <input name="show-Password" type="checkbox" value="" id="show-Password"
                          onclick="showOldPassword('newpassword')" />
                        <div class="state p-success-o p-on">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="state p-off">
                          <i class="fas fa-eye-slash"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirm_password">Confirm New Password<span class="required">*</span></label>
                  <div class="relative">
                    <input type="password" formControlName='confirmPassword' id='confirmPassword'
                      class="form-control form-control-lg"
                      [ngClass]="{'invalid-input': submittedPassword && c.confirmPassword.errors}">
                    <div *ngIf="submittedPassword && c.confirmPassword.errors" class="warningmsg">
                      <div *ngIf="c.confirmPassword.errors.required">
                        <p>Password is required</p>
                      </div>
                      <div *ngIf="c.confirmPassword.errors.minlength" class="small">Password must be at least 8
                        characters</div>
                    </div>

                    <div class="absolute">
                      <div class="pretty p-icon p-toggle p-plain">
                        <input name="show-Password" type="checkbox" value="" id="show-Password"
                          onclick="showOldPassword('confirmPassword')" />
                        <div class="state p-success-o p-on">
                          <i class="fas fa-eye"></i>
                        </div>
                        <div class="state p-off">
                          <i class="fas fa-eye-slash"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <!-- <input type="submit" value="change" onclick = "changePassword()" > -->
                  <button type="submit" class="btn btn-lg btn-primary float-right">CHANGE</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Set Goals/Invitations -->
        <div class="tab-pane fade p-3" id="nav-setGoals" role="tabpanel" aria-labelledby="nav-setGoals-tab">
          <div class="col-md-12">
            <div class="col-md-6">
              <p *ngIf="employeeCount==0" class="warningmsg">
                You have 0 Employees in your account, kindly add employees</p>
              <p *ngIf="employeeCount==0" class="warningmsg"><a routerLink="/home/employees">
                  Add Employee</a></p>
              <form [formGroup]="setgoalsForm" (ngSubmit)="setGoals()">
                <div class="form-group">

                  <label for="email">Select Employee<span class="required">*</span></label>
                  <select formControlName="email" (change)="getgoals($event.target.value)"
                    class="form-control form-control-lg" id="email">
                    <option [value]="employee.email" *ngFor="let employee of employees">
                      {{employee.firstname}} {{employee.lastname}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="set-goals">Enter Goals Limit</label>
                  <input type="number" formControlName='goal' class="form-control form-control-lg">
                  <!-- [ngClass]="{'invalid-input': submitted && g.set-goals.errors}" -->
                </div>
                <div class="form-group">
                  <label for="set-invitation">Enter Invitation Limit</label>
                  <input type="number" formControlName='invitation' class="form-control form-control-lg">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-primary float-right" [disabled]="!setgoalsForm.valid">
                    SET</button>
                </div>
              </form>
            </div>
          </div>
        </div>


        <!-- Link Social Accounts -->

        <div class="tab-pane  fade p-3" [ngClass]="{'active show': !roleEmp}" id="nav-linkAccounts" role="tabpanel"
          aria-labelledby="nav-linkAccounts-tab" *ngIf="!roleEmp">
          <div class="float-right">
            <a class="btn btn-sm btn-success refreshBtn mb-2" (click)="getplatforms()" routerLink="/home/settings"><i
                class="fas fa-sync-alt"></i>Refresh</a>
          </div>
          <div *ngIf="facebook || google || zomato">
            <h4>Connected Platform</h4>
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">

              <div *ngIf="facebook" class="social-media-account m-1 p-4 border">
                <span *ngIf="!fbService.connectedWithFacebook" class="close"
                  (click)="openDeletePlatformModal(deletePlatformModal,'facebook')">
                  <i class="fas fa-trash-alt"></i></span>
                <img src="{{facebooklogourl}}" alt="facebook" width="50px" height="50px">
                <h6 *ngIf="!fbService.connectedWithFacebook">
                  Not Connected | <button class="btn btn-sm btn-success"
                    (click)="openFacebookModal(linkFacebook)">Connect
                    Now</button>
                </h6>
                <h6 *ngIf="fbService.connectedWithFacebook" [title]="fbService.linked_page.name">
                  Connected | <span>{{fbService.linked_page.name}}</span><br><br><br>
                  <button class="btn btn-sm btn-danger" (click)="disconectPlatform('facebook')">Disconnect This
                    Platform</button>
                  <!-- <a (click)="disconectPlatform('facebook')">Disconnect This Platform</a> -->
                </h6>

              </div>

              <div *ngIf="google" class="social-media-account m-1 p-4 border">
                <span *ngIf="!googleService.connectedWithGoogle" class="close"
                  (click)="openDeletePlatformModal(deletePlatformModal,'google')">
                  <i class="fas fa-trash-alt"></i></span>
                <img src="{{googlelogourl}}" alt="google" width="50px" height="50px">
                <h6 *ngIf="!googleService.connectedWithGoogle">
                  Not Connected | <button class="btn btn-sm btn-success" (click)="openGoogleModal(linkGoogle)">Connect
                    Now</button>
                  <!-- <a (click)="openGoogleModal(linkGoogle)">Connect Now</a> -->
                </h6>
                <h6 *ngIf="googleService.connectedWithGoogle" [title]="googleService.linked_location.locationName">
                  Connected | <span>{{googleService.linked_location.locationName}}</span><br><br><br>
                  <button class="btn btn-sm btn-danger" (click)="disconectPlatform('google')">Disconnect This
                    Platform</button>
                  <!-- <a class="btn btn-sm btn-danger"(click)="disconectPlatform('google')">Disconnect This Platform</a> -->
                </h6>

              </div>

              <div *ngIf="zomato" class="social-media-account m-1 p-4 border">

                <span *ngIf="!zomatoService.connectedWithZomato" class="close"
                  (click)="openDeletePlatformModal(deletePlatformModal,'zomato')">
                  <i class="fas fa-trash-alt"></i></span>

                <img src="{{zomatologourl}}" alt="zomato" width="50px" height="50px">
                <h6 *ngIf="!zomatoService.connectedWithZomato">
                  Not Connected | <button class="btn btn-sm btn-success" (click)="openZomatoModal(linkZomato)">Connect
                    Now</button>
                  <!-- <a (click)="openZomatoModal(linkZomato)">Connect Now</a> -->
                </h6>
                <h6 *ngIf="zomatoService.connectedWithZomato" [title]="zomatoService.res_name">
                  Connected | <span>{{zomatoService.res_name}}</span><br><br><br>
                  <button class="btn btn-sm btn-danger" (click)="disconectPlatform('zomato')">Disconnect This
                    Platform</button>
                  <!-- <a class="btn btn-sm btn-danger" (click)="disconectPlatform('zomato')">Disconnect This Platform</a> -->
                </h6>
              </div>
            </div>
          </div>


          <!-- <hr> -->
          <!--request platforms-->
          <div class=" mt-2">
            <h4 style="padding-top: 3%">Request Platform</h4>
            <div id="wrapper">
              <div id="yourdiv">
                <div class="mb-2" style="width: 66%;display: inline-block;">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Platform Name" [(ngModel)]='searchtext'>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
              <div *ngFor="let platform of platformsalldata | filter : searchtext let i = index"
                class="social-media-account m-1 p-4 border">
                <img src="{{platform.platformLogoURL}}" width="50px" height="50px"><br>
                {{platform.platformName}}<br>
                <button *ngIf="!platform.alreadyexist" type="button" class="btn btn-sm btn-primary"
                  [disabled]="platform.requested" (click)="onRequestplatform(platform.platformName)">Request</button>
                <p *ngIf="platform.alreadyexist" class="warningmsg">Already Added.</p>
                <p *ngIf="platform.requested" class="warningmsg">Your have successfully requested for this platform,
                  kindly wait for our response.</p>
              </div>
            </div>

          </div>

        </div>

        <!-- Request services SMS Settings -->
        <div class="tab-pane fade p-3" id="nav-smsSettings" role="tabpanel" aria-labelledby="nav-smsSettings-tab">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 text-center border">
                <h1 class="display-2">{{userService.msgcredits}}</h1>
                <h5>SMS CREDITS LEFT</h5>
                <button class="btn btn-primary my-3" [disabled]="!msgCreditRequestStatus"
                  (click)="openRequestSmsModal(requestSMS)">BUY CREDITS</button>
                <p *ngIf="!msgCreditRequestStatus" class="warningmsg">Your request has been proceed,will update within
                  1-2 hrs</p>
                <ng-template #requestSMS let-modal>
                  <div class="modal-body p-5 text-center">
                    <form [formGroup]="buySmsCreditsForm" (ngSubmit)="buyCredits()">
                      <div class="form-group">
                        <label for="smscount">Enter No. of SMS Credits you want to Buy</label>
                        <input formControlName="count" type="number" class="form-control form-control-lg" id="smscount"
                          style="text-align: center;">
                        <div
                          *ngIf="buySmsCreditsForm.controls['count'].value == null || buySmsCreditsForm.controls['count'].value == ''">
                          <p class="required">Value Required</p>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary m-2">BUY NOW</button>
                    </form>
                    <!-- <h5 class="m-2">Amount to Pay: <b>Rs.{{sms.count.value * 0.20 | number:'1.2-2'}} /-</b></h5> -->
                  </div>
                </ng-template>
              </div>
              <div class="col-md-4 text-center border">
                <h4 class="mb-3 mt-2">SELECT SMS SERVICES</h4>
                <form [formGroup]="serviceForm" (ngSubmit)="requestSmsService()">
                  <div class="form-group">
                    <label class="d-flex checkboxmargin" formArrayName="checks"
                      *ngFor="let order of serviceForm.controls.checks['controls']; let i = index">
                      <input type="checkbox" [formControlName]="i">
                      {{checks[i].name}}
                    </label>
                  </div>
                  <button type="submit" [disabled]="!smsRequestStatus" class="btn btn-primary m-2">UPDATE
                    SERVICE</button>
                  <p *ngIf="!smsRequestStatus" class="warningmsg">Your request has been proceed,will update within 1-2
                    hrs</p>
                </form>
              </div>
              <div class="col-md-4 text-center border">
                <!-- <h1 class="display-2">{{noOfEmployees}}</h1>  -->
                <h1 class="display-2">{{noofemployee-employeeCount}}</h1>
                <h5>No of Employees Left</h5>
                <button class="btn btn-primary my-3" [disabled]="!employeeRequestStatus"
                  (click)="openRequestEmployee(requestEmployee)">MORE
                  EMPLOYEES</button>
                <p *ngIf="!employeeRequestStatus" class="warningmsg">Your request has been proceed,will update within
                  1-2 hrs</p>
                <ng-template #requestEmployee let-modal>
                  <div class="modal-body p-5 text-center">
                    <form [formGroup]="requestEmployeeForm" (ngSubmit)="onRequestEmpolyees()">
                      <div class="form-group">
                        <label for="noOfEmployee">Enter no. of employees you want</label>
                        <input formControlName="noOfEmployees" type="number" class="form-control form-control-lg"
                          id="noOfEmployee" style="text-align: center;">
                      </div>
                      <button type="submit" class="btn btn-primary m-2">Add Employees</button>
                    </form>
                    <!-- <h5 class="m-2">Amount to Pay: <b>Rs.{{sms.count.value * 0.20 | number:'1.2-2'}} /-</b></h5> -->
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Link Facebook Page Modal -->
<ng-template #linkFacebook let-modal>
  <div class="modal-body text-center">
    <div *ngIf="!fbService.pageAccessTokens">
      <button class="btn btn-lg btn-primary m-5" (click)="connectWithFacebook()" style="background-color: #4267B2;">
        <i class="fab fa-facebook"></i> &nbsp;&nbsp;Continue With Facebook
      </button>
    </div>
    <div *ngIf="fbService.pageAccessTokens">
      <h5>Select Facebook Page</h5>
      <ul class="facebookPageList">
        <li *ngFor="let page of fbService.pageAccessTokens.data" (click)="selectFacebookPage(page)"
          [class.selected]="page === linkedFacebookPage">
          {{ page.name }}
        </li>
      </ul>
      <button type="button" class="btn btn-primary" (click)="modal.close()" [disabled]="!linkedFacebookPage">
        LINK
      </button>
    </div>
  </div>
</ng-template>

<!--Link Zomato Account Modal -->
<ng-template #linkZomato let-modal>
  <div class="modal-body text-center form-wrapper">
    <div *ngIf="!zomatoService.connectedWithZomato">
      <h5>Enter Zomato Restaurant ID</h5>
      <form [formGroup]='zomatoRestaurantForm' (ngSubmit)='connectWithZomato()'>
        <div class="form-group">
          <input type="number" formControlName='restaurant_id' class="form-control form-control-lg my-5" id="res_id"
            placeholder="Your Zomato Restaurant ID" [ngClass]="{ 'invalid-input': z.restaurant_id.errors }">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="z.restaurant_id.invalid">
          GET DETAILS
        </button>
      </form>
    </div>
    <div *ngIf="!zomatoService.restaurant_info" class="m-5 p-5 border">
      <h6>Restaurant Name</h6>
      <h3>NO RESTAURANT TO SHOW</h3>
    </div>
    <div *ngIf="zomatoService.restaurant_info" class="m-5 p-5 border">
      <h6>Restaurant Name</h6>
      <h3>{{zomatoService.restaurant_info.name}}</h3>
      <button type="button" class="btn btn-primary" (click)="modal.close()">
        LINK
      </button>
    </div>
  </div>
</ng-template>

<!--Link Google Business Page Modal -->
<ng-template #linkGoogle let-modal>
  <div class="modal-body text-center">
    <div *ngIf="!googleService.isSignedIn">
      <button class="btn btn-danger btn-lg m-5" (click)="connectWithGoogle()">
        <i class="fab fa-google"></i> Connect With Google
      </button>
    </div>
    <div *ngIf="googleService.userGoogleAccounts && !googleService.userGoogleAccountLocations">
      <h5>Select Google Account</h5>
      <ul class="facebookPageList">
        <li *ngFor="let account of googleService.userGoogleAccounts" (click)="selectGoogleAccount(account)"
          [class.selected]="account === linkedGoogleAccount">
          {{ account.accountName }}
        </li>
      </ul>
    </div>
    <div *ngIf="googleService.userGoogleAccounts && googleService.userGoogleAccountLocations">
      <h5>Select Location</h5>
      <ul class="facebookPageList">
        <li *ngFor="let location of googleService.userGoogleAccountLocations"
          (click)="selectGoogleAccountLocation(location)" [class.selected]="location === linkedGoogleAccountLocation">
          {{ location.locationName }}
        </li>
      </ul>
      <button type="button" class="btn btn-danger" (click)="modal.close()" [disabled]="!linkedGoogleAccountLocation">
        LINK
      </button>
    </div>
  </div>
</ng-template>
<!-- delete platform -->

<ng-template #opendeletefeedBackmodal let-modal>
  <div class="">
    <button type="button" class="close mr-3 mt-1 p-1" aria-label="Close" (click)="modalDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="col-md-12  text-center">
      <h5 style="text-transform: capitalize"> are you sure want to delete this template ?</h5>
      <div class="mt-2">
        <button class="btn btn-success btn-lg p-2" type="button" (click)="deleteOneFeedbackForm()">Yes</button>
        <button class="btn btn-danger btn-lg ml-3 p-2" type="button" (click)="modalDismiss()">No</button>
      </div>
    </div>
  </div>
</ng-template>