.social-media-account{
    width: 250px;
    height: 210px;
    overflow: auto;
}
.options{
    display : inline-block;
    margin: 2px
}
.social-media-account h6{
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.social-media-account h6 span{
    color: green;
    font-weight: bold;
}

.social-media-account a{
    text-decoration: none;
    color: orange;
    cursor: pointer;
}
.formTitle{
    display: inline-block 
}

.social-media-account a:hover{
    color: blue;
}

/*Link Facebook Page Modal ul CSS  */
.facebookPageList{
    display: block;
    list-style-type: none;
    padding: 5px;
    margin: 0;

}
.facebookPageList li{
    display: block;
    padding: 15px 10px;
    margin: 5px;
    font-size: medium;
    border: 2px solid orange;
    cursor: pointer;
    border-radius: 5px;
}
.selected{
    background-color: orange;
    color: white;
}
.disconnectButton{
    color: red
}
div.relative {
    position: relative;
    /* / width: 400px; / */
    height: 80px;
    /* / border: 1px solid #73AD21; / */
  } 
  
  div.absolute {
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;
  } 
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  
  .container{
    padding-top:50px;
    margin: auto;
  }
  .checkboxmargin{
      margin-left: 40%
  }
.passwordCSS{
    margin-bottom: -32px;
}

.warningmsg{
    color: red;
    font-size: small;
    font-weight: bold;
}
.refreshBtn{
    color: white !important
}
.close:hover{
    cursor: pointer;
}
#wrapper {
    
    text-align: center;
  }
  #yourdiv {
    
    display: inline-block;
    width: 100%
  }
  .nav-link{
    color: black !important
  }
  .nav-link.active{
    color: navy !important
  }
  .feedbacknote{
    text-transform: capitalize;
    color: red;
    font-weight: bold;
    margin-left: 0%;
    font-size: unset;
    padding-bottom: 1%;
  }