/* 
.container-fluid {
    padding: 0%;
}

.page-content {
    top: 15%
} */
h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", sans-serif;
    font-weight: bold; }

    
p {
    font-size: 1.2em !important; 
    font-family: "Roboto", sans-serif;
}

/* .speclocalLogo{
    background-color: black;
    padding: 1%
} */

.bulletpoints{
 list-style-type: none;
}

a:hover{
    text-decoration: none
}
