<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h speclocalLogo"><img src="../../assets/imgs/SpecLocal.png" alt=""
            height="100px"></a>
        <div class="d-md-none d-sm-block">
          <button class="btn btn-outline-warning" routerLink="/login">LOG IN</button>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-center">
            <li class="nav-item active"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" pageScroll [pageScrollEasing]="myEasing"
                href="#productInfo">PRODUCT INFO</a></li>
            <li class="nav-item"><a class="nav-link" pageScroll [pageScrollEasing]="myEasing"
                href="#features">FEATURES</a>
              <!-- <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="price.html">Pricing</a>
                <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">CONTACT US</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right mr-2">
            <li class="nav-item"><a routerLink="/contact" class="tickets_btn">CONTACT US</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a routerLink="/login" class="tickets_btn">LOG IN</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="banner_content">
            <h2>Welcome To SpecLocal</h2>
            <p>It's observed that 90% of people prefer visiting or choosing a
              business services with a rating of more than 4-star.</p>
            <a class="banner_btn" routerLink="/"
              (click)="openRequestedContact(requestedContactContent,'getstarted')">Get Started</a>
            <!-- <a class="banner_btn2" href="#">Download</a> -->
          </div>
        </div>
        <div class="col-lg-7">
          <div class="home_left_img">
            <img class="img-fluid" src="../../assets/imgs/review.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Work Area =================-->
<section class="work_area p_120">
  <div class="container">
    <div class="impress_inner text-center text-primary my-5">
      <h2 style="color: dodgerblue;">"Reviews have become one of the most important factors affecting
        Business Growth."</h2>
    </div>
    <!-- <div class="main_title"> 
      <h2>Our Mission</h2>
      <p>SpecView is a SaaS platform which works as an online review management platform. <br> Our
        mission is to provide other businesses with the most comprehensive way to build their online presence by
        providing them detailed
        information about the reviews they receive, by giving them means to easily find constructive feedback and
        interact with their customers. We aim to provide a way to utilize customer feedback to improve businesses
        from local to large brands.
      </p>
    </div> -->
    <div class="work_inner row">
      <div class="col-lg-4">
        <div class="work_item">
          <i class="fas fa-running"></i>
          <a href="#">
            <h4>Boost Sales</h4>
          </a>
          <p>The most effective way to boost sales is to generate more customer
            reviews. We understand that it can be really hard for businesses to generate
            more Genuine Reviews.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work_item">
          <i class="fas fa-glasses"></i>
          <a href="#">
            <h4>Purpose of SpecView</h4>
          </a>
          <p>The purpose of SpecView is to automate the process of generating
            Genuine Customer Reviews and empowering business owners to connect and respond to their customer queries and
            issues in the shortest time.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="work_item">
          <i class="fas fa-users"></i>
          <a href="#">
            <h4>Increased Customers</h4>
          </a>
          <p>Increase Customer traffic with genuine Reviews every week.Automated Review generation campaigns and
            marketing campaigns via sms,
            email and other messaging platforms</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Work Area =================-->
<div id="productInfo">
  <!--================Made Life Area =================-->
  <section class="made_life_area p_120">
    <div class="container">
      <div class="made_life_inner">
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row made_life_text">
            <div class="col-lg-6">
              <div class="left_side_text">
                <h3>Review Acquisition</h3>
                <p><i class="fas fa-angle-right"></i> Manage multiple locations</p>
                <p><i class="fas fa-angle-right"></i> Engage customers with coupons and offers</p>
                <p><i class="fas fa-angle-right"></i> Multiple user accounts for custom staff</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="chart_img text-center">
                <img class="img-fluid  mr-3" src="../../assets/imgs/facebook.png" alt="" width="100px">
                <img class="img-fluid  mr-3" src="../../assets/imgs/google.png" alt="" width="100px">
                <img class="img-fluid  mr-3" src="../../assets/imgs/zomato.png" alt="" width="100px">
                <h6 class="my-5">and many more...</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Made Life Area =================-->
  <!--================Made Life Area =================-->
  <section class=" p_120">
    <div class="container">
      <div class="made_life_inner">
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row made_life_text">
            <div class="col-lg-6 mb-2">
              <div class="chart_img">
                <img class="img-fluid shadow" src="../../assets/imgs/Snapshot 3.JPG" alt="">
              </div>
            </div>
            <div class="col-lg-6 mt-2">
              <div class="left_side_text">
                <h3>Review Campaigns</h3>
                <p><i class="fas fa-angle-right"></i> Customize text message campaigns and templates</p>
                <p><i class="fas fa-angle-right"></i> Add campaign recipients via CSV or Excel file</p>
                <p><i class="fas fa-angle-right"></i> Exercise complete creative control over SMS templates</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Made Life Area =================-->

  <!--================Made Life Area =================-->
  <section class="made_life_area p_120">
    <div class="container">
      <div class="made_life_inner">
        <div class="row made_life_text">
          <div class="col-lg-6">
            <div class="left_side_text">
              <h3>Monitoring and Reporting Features</h3>
              <p><i class="fas fa-angle-right"></i> Monitor specific review sites for new reviews.</p>
              <p><i class="fas fa-angle-right"></i> Get review alerts or send to clients or staff based on custom
                criteria.</p>
              <p><i class="fas fa-angle-right"></i> Respond directly to Facebook and Google reviews from one dashboard
              </p>
              <p><i class="fas fa-angle-right"></i> Get overall business performance across different review sites and
                choose dates as per
                requirements.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="chart_img">
              <img class="img-fluid shadow" src="../../assets/imgs/Snapshot 1.JPG" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Made Life Area =================-->

  <!--================Price Area =================-->
  <!-- <section class="price_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Choose Your Price Plan</h2>
    </div>
    <div class="price_inner row">
      <div class="col-lg-4 offset-lg-2">
        <div class="price_item">
          <div class="price_head">
            <h4>Free Plan</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">2.5 GB Space</a></li>
              <li><a href="#">Secure Online Transfer</a></li>
              <li><a href="#">Unlimited Styles</a></li>
              <li><a href="#">Customer Service</a></li>
            </ul>
          </div>
          <div class="price_footer">
            <h3><span class="dlr"><i class="fas fa-rupee-sign"></i></span> 0 <span class="month">Per <br />Month</span>
            </h3>
            <a class="main_btn" href="#">Request Demo</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="price_item">
          <div class="price_head">
            <h4>Real Standard</h4>
          </div>
          <div class="price_body">
            <ul class="list">
              <li><a href="#">10 GB Space</a></li>
              <li><a href="#">Secure Online Transfer</a></li>
              <li><a href="#">Unlimited Styles</a></li>
              <li><a href="#">Customer Service</a></li>
            </ul>
          </div>
          <div class="price_footer">
            <h3><span class="dlr"><i class="fas fa-rupee-sign"></i></span> 69 <span class="month">Per <br />Month</span>
            </h3>
            <a class="main_btn" href="#">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
  <!--================End Price Area =================-->
</div>

<div id="features">
  <!--================Testimonials Area =================-->
  <section class="testimonials made_white p_120">
    <div class="container">
      <div class="main_title">
        <h2>SpecView Features</h2>
        <p>SpecView provides its users access to their business accounts in Facebook, Google, Zomato.
          Through which you can view your business performance across different websites. You can view and reply to
          reviews through
          SpecView’s portal. SpecView also allows businesses to collect feedbacks that are sent by your customer to them
          directly, this allows the business owners to focus on improving their customer satisfaction and experience.
          SpecView
          additionally provides business owners the ability to market their business to new as well as old customers
          through its in-built SMS feature, which can be used to update customers on new offers or asking for feedback
          on their experience with their recent visit. SpecView aims at increasing a business’s overall online
          reputation
          through all the previously mentioned
          facilities.</p>
      </div>
    </div>
  </section>
  <!--================End Testimonials Area =================-->

  <!--================Made Life Area =================-->
  <!-- removed class: made_white -->
  <section class="made_life_area p_120">
    <div class="container">
      <div class="made_life_inner">
        <div class="row made_life_text">
          <div class="col-lg-6 mb-2">
            <div class="chart_img">
              <img class="img-fluid shadow" src="../../assets/imgs/Snapshot 1.JPG" alt="">
            </div>
          </div>
          <div class="col-lg-6 mt-2">
            <div class=" left_side_text">
              <h3>We are here to collect your reviews from different platforms</h3>
              <p><i class="fas fa-angle-right"></i> Multi-Platform Review Monitoring</p>
              <p><i class="fas fa-angle-right"></i> Reputation Management</p>
              <p><i class="fas fa-angle-right"></i> Marketing Campaign Management</p>
              <p><i class="fas fa-angle-right"></i> Feedback and Complaints Management</p>
              <p><i class="fas fa-angle-right"></i> Multi-Location Management</p>
              <p><i class="fas fa-angle-right"></i> Customer Data Management</p>
              <!-- <ul class="mt-3">
                <li>Multi-Platform Review Monitoring</li>
                <li>Reputation Management</li>
                <li>Marketing Campaign Management</li>
                <li>Feedback and Complaints Management</li>
                <li>Multi-Location Management</li>
                <li>Customer Data Management</li>
              </ul> -->
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim.</p> -->
              <!-- <a class="main_btn" href="#">Get Started Now</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Made Life Area =================-->
</div>


<!--================Impress Area =================-->
<section class="impress_area p_120">
  <div class="container">
    <div class="impress_inner">
      <h2>Got Impressed to our features?</h2>
      <!-- <p>Reviews have become one of the most important factors affecting Business Growth. Its observed that 90% of
        people prefer visiting or choosing a business services with a rating of more than 4-star.</p> -->
      <a class="banner_btn2" (click)="openRequestedContact(requestedContactContent,'freedemo')">Request Free Demo</a>
    </div>
  </div>
</section>
<!--================End Impress Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area p_120">
  <div class="container">
    <div class="row footer_inner">
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget ab_widget">
          <div class="f_title">
            <h3>About Us</h3>
          </div>
          <p>SpecView is a SaaS platform which works as an online review management platform.</p>
          <p>
            Copyright &copy; 2019. All rights reserved.
          </p>
        </aside>
      </div>
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Important Links</h3>
          </div>
          <ul class="p-0" style="list-style-type: none;">
            <li class="">
              <a class="" routerLink="/privacypolicy">Privacy Policy</a>
            </li>
            <li>
              <a class="" routerLink="/terms">Terms and Conditions</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-2">
        <aside class="f_widget social_widget">
          <div class="f_title">
            <h3>Follow Me</h3>
          </div>
          <p>Let us be social</p>
          <ul class="list">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->


<!--================Contact Modal =================-->
<ng-template #requestedContactContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="quick_invite">Contact Us</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='requestedContactForm' (ngSubmit)='onRequest()'>
      <div class="form-group">
        <label for="Name">Full Name<span class="required">*</span></label>
        <div class="input-group">
          <input id="Name" class="form-control" formControlName="fullname" name="Name"
            [ngClass]="{ 'invalid-input': submitted && form.fullname.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="Email">Email ID<span class="required">*</span></label>
        <div class="input-group">
          <input id="Email" class="form-control" formControlName="email" name="Email"
            [ngClass]="{ 'invalid-input': submitted && form.email.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number<span class="required">*</span></label>
        <div class="input-group">
          <input id="phoneNumber" type="text" class="form-control" formControlName="contactno" name="phoneNumber"
            [ngClass]="{ 'invalid-input': submitted && form.contactno.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="BusinessName">Business Name<span class="required">*</span></label>
        <div class="input-group">
          <input id="BusinessName" class="form-control" formControlName="businessname" name="Business Name"
            [ngClass]="{ 'invalid-input': submitted && form.businessname.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="Requirements">Requirements<span class="required">*</span></label>
        <div class="">
          <textarea class="form-control" rows="3" id="Requirements" formControlName="requirements" name="Requirements"
            [ngClass]="{ 'invalid-input': submitted && form.requirements.errors}">
          </textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-outline-primary float-right">Send</button>
    </form>
  </div>
</ng-template>