<div class="container-fluid">
    <div class="row p-4" *ngIf="FEEDBACKS.length == 0">
        <h5 class="text-center font-weight-bold">No Feedbacks Yet!</h5>
    </div>
    <div class="row" *ngIf="FEEDBACKS.length > 0">
        <div class="col-md-4 px-1 py-4">
            <div class="p-2 border feedback-list-wrapper" style="position: relative;">
                <p class="text-right">{{ (page-1)*pageSize}} - {{ ((page-1)*pageSize) + pageSize }} of
                    {{ collectionSize }}</p>
                <div class="table-responsive">
                    <table class="table table-hover mb-5">
                        <tbody>
                            <tr *ngFor="let item of myfeedbacks" (click)="showDetails(feedbackDetails,  item)">
                                <!-- {{item | json}} -->
                                <td style="width: 10%">
                                    <i class="fas fa-envelope" *ngIf="!item.read"></i>
                                    <i class="far fa-envelope-open" *ngIf="item.read"></i>
                                </td>
                                <th style="width: 70%" scope="row">{{item.customerData.name}}</th>
                                <td style="width: 20%">{{item.createdOn | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center p-2" style="position: absolute; bottom: 0; right: 0;">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let selectedFeedback1 of usersFeedback; let i = index;" class="p-2 border"
            [ngClass]="{ 'new': i==0 }" style="margin-top: 20px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="row" style="width: 50%">Customer Name</th>
                        <td style="width: 50%">: {{selectedFeedback1.customerData.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone No.</th>
                        <td>: {{selectedFeedback1.customerData.phoneno}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email ID</th>
                        <td>: {{selectedFeedback1.customerData.email}}</td>
                    </tr>
                    <tr class="border-bottom">
                        <th scope="row">Date</th>
                        <td>: {{selectedFeedback1.createdOn | date: 'medium'}}</td>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let feed of selectedFeedback1.feedbackdata">
                <div class="col px-1 py-1" *ngFor='let template of this.feedbacktemplate'>
                    <table class="table table-borderless">
                        <tbody>
                            <tr *ngIf="template.selectOption=='Ratings'">
                                <th scope="row" colspan="2" style="word-wrap: break-word;">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Ratings'">
                                <td scope="row" colspan="2">
                                    <ngb-rating [rate]="getAnswer(template.controlname,feed)">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star2" [class.filled]="fill === 100"
                                                [class.bad]="index < getAnswer(template.controlname,feed)"><i
                                                    class="fas fa-star"></i></span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                            <tr *ngIf="template.selectOption=='Radio'">
                                <th scope="row" colspan="2">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Radio'">
                                <td colspan="2">
                                    {{getAnswer(template.controlname,feed)}}
                                </td>
                            </tr>
                            <tr *ngIf="template.selectOption=='Textarea'">
                                <th scope="row" colspan="2">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Textarea'">
                                <td colspan="2">
                                    {{getAnswer(template.controlname,feed)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-success px-3" *ngIf="selectedFeedback1.replied"><img src="../../../assets/imgs/checked.png"
                    alt=""> Replied
            </p>
            <div class="p-3" *ngIf="!selectedFeedback1.replied">
                <a class="mb-2" data-toggle="collapse" href="#sendFeedbackReply" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Send Reply
                </a>
                <div class="collapse" id="sendFeedbackReply">
                    <div class="card card-body">
                        <form [formGroup]="feedbackForm" (ngSubmit)="sendReply()">
                            <div class="form-group">
                                <label for="reply-message">Your Reply</label>
                                <textarea formControlName="message" class="form-control" id="reply-message"
                                    rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary float-right mb-2">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #feedbackDetails let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Customer Feedback</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let selectedFeedback1 of usersFeedback; let i = index;" class="p-2 border"
            [ngClass]="{ 'new': i==0 }">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="row" style="width: 50%">Customer Name</th>
                        <td style="width: 50%">: {{selectedFeedback1.customerData.name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone No.</th>
                        <td>: {{selectedFeedback1.customerData.phoneno}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email ID</th>
                        <td>: {{selectedFeedback1.customerData.email}}</td>
                    </tr>
                    <tr class="border-bottom">
                        <th scope="row">Date</th>
                        <td>: {{selectedFeedback1.createdOn | date: 'medium'}}</td>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let feed of selectedFeedback1.feedbackdata">
                <div class="col px-1 py-1" *ngFor='let template of this.feedbacktemplate'>
                    <table class="table table-borderless">
                        <tbody>
                            <tr *ngIf="template.selectOption=='Ratings'">
                                <th scope="row" colspan="2" style="word-wrap: break-word;">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Ratings'">
                                <td scope="row" colspan="2">
                                    <ngb-rating [rate]="getAnswer(template.controlname,feed)">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star2" [class.filled]="fill === 100"
                                                [class.bad]="index < getAnswer(template.controlname,feed)"><i
                                                    class="fas fa-star"></i></span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                            <tr *ngIf="template.selectOption=='Radio'">
                                <th scope="row" colspan="2">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Radio'">
                                <td colspan="2">
                                    {{getAnswer(template.controlname,feed)}}
                                </td>
                            </tr>
                            <tr *ngIf="template.selectOption=='Textarea'">
                                <th scope="row" colspan="2">
                                    Q.{{template.questionText}}
                                </th>
                            </tr>
                            <tr *ngIf="template.selectOption=='Textarea'">
                                <td colspan="2">
                                    {{getAnswer(template.controlname,feed)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-success px-3" *ngIf="selectedFeedback1.replied"><img src="../../../assets/imgs/checked.png"
                    alt=""> Replied
            </p>
            <div class="p-3" *ngIf="!selectedFeedback1.replied">
                <a class="mb-2" data-toggle="collapse" href="#sendFeedbackReply" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Send Reply
                </a>
                <div class="collapse" id="sendFeedbackReply">
                    <div class="card card-body">
                        <form [formGroup]="feedbackForm" (ngSubmit)="sendReply()">
                            <div class="form-group">
                                <label for="reply-message">Your Reply</label>
                                <textarea formControlName="message" class="form-control" id="reply-message"
                                    rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary float-right mb-2">SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary" (click)="modal.close()">Close</button>
    </div>
</ng-template>