.unread {
    color: white;
    border-bottom: 2px solid navy;
    background: linear-gradient(to right, dodgerblue,lightskyblue,lightblue);
}

.table-hover tr:hover {
    cursor: pointer;
}

.table-hover tr td {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feedback-list-wrapper {
    min-height: 75vh;
    max-height: 80vh;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .feedback-list-wrapper {
        max-height: auto;
        min-height: auto;
    }
}

.new {
    background: url('../../../assets/imgs/new.png') right top;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}