<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><img src="../../assets/imgs/SpecLocal.png" alt="logo" width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" pageScroll [pageScrollEasing]="myEasing" href="#productInfo">Product <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="openRequestedContact(requestedContactContent,'getstarted')">Sign
            Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" (click)="openRequestedContact(requestedContactContent,'freedemo')">Request
            Demo</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link btn btn-warning px-5" routerLink="/login">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- ====================================== Home banner ====================================== -->
<div class="container-fluid">
  <div class="row p-0 home_banner_area d-flex flex-row align-items-center">
    <div class="col-md-5 p-5">
      <div class="banner_content">
        <h1 class="font-weight-bold">Grow your Local Business Digitally.</h1>
        <br>
        <h5>Connect with your customers and grow your business exponentially leaving behind your competition with
          <b>SpecView.</b></h5>
      </div>
    </div>
    <div class="col-md-7 p-5">
      <div id="banner_home_carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <!-- <div class="carousel-item active">
            <img src="../../assets/imgs/Cafe.jpg" class="d-block w-100" alt="...">
          </div> -->
          <div class="carousel-item active">
            <img src="../../assets/imgs/Cafe-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Clinic.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Photography.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Restaurant.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Salon.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/imgs/Share.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  ================================== Work area ================================= -->
<div class="container-fluid work_area">
  <div class="row p-0 work_inner">
    <div class="col-md-12 py-5">
      <div class="main_title">
        <h3>Boost Your Business With More Reviews</h3>
        <p>Generate more business by converting online traffic into offline customer by getting highlighted in search
          results with higher ratings and with a convenient way to connect with your customers
        </p>
      </div>
    </div>
    <div class="col-md-12 main_title">
      <h3>SpecView Enabled Businesses</h3>
    </div>
    <div class="col-md-4">
      <div class="work_item">
        <img src="../../assets/imgs/feedback.png" alt="boost" width="100px" height="100px">
        <!-- <i class="fas fa-running"></i> -->
        <a routerLink="/">
          <h4>Grow Overall Rating</h4>
        </a>
        <p>Improve your overall ratings and appear higher on search results with our <b>Review Manager</b></p>
      </div>
    </div>
    <div class="col-md-4 pb-5">
      <div class="work_item">
        <img src="../../assets/imgs/seo.png" alt="specs" width="100px" height="100px">
        <!-- <i class="fas fa-glasses"></i> -->
        <a routerLink="/">
          <h4>Connect With Customers Easily</h4>
        </a>
        <p>Create a network of customers through customer engagement and increase Social referrals with our <b>Customer
            Connect</b></p>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="work_item">
        <img src="../../assets/imgs/user.png" alt="specs" width="100px" height="100px">
        <!-- <i class="fas fa-users"></i> -->
        <a routerLink="/">
          <h4>Generate More Customers</h4>
        </a>
        <p>Increase customer revisits and boost digital presence with our <b>Campaign Manager</b></p>
      </div>
    </div>
  </div>
</div>

<!-- ========================= Features Area ============================== -->
<div class="container-fluid work_area" style="background-color:rgb(240, 247, 247)" id="productInfo">
  <div class="row py-5 work_inner">
    <div class="col-md-12 main_title">
      <h3>Features We Empower Businesses With</h3>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Review Acquisition.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px; ">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Review Acquisition</h5>
          <p class="card-text m-0 p-3">Generate Authentic Reviews every week and boost your overall digital reputation.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Reputation Manager.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px;">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Reputation Manager</h5>
          <p class="card-text m-0 p-3">Gain your customers trust and manage your online Reputation across various
            Channels.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Customer Expirence Manager.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px;">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Customer Experience Manager</h5>
          <p class="card-text m-0 p-3">Allow your customers to share their experience directly to you with our
            Experience manager.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Campaign Manager.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px;">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Campaign Manager</h5>
          <p class="card-text m-0 p-3">Share your deals and offers across various platforms all in one place.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Social Connect.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px;">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Social Connect</h5>
          <p class="card-text m-0 p-3">View, Manage and Respond to customer reviews posted on various Social Media
            Platforms.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5 px-5">
      <div class="work_item m-0">
        <img src="../../assets/imgs/Customer Insights.png" alt="specs" width="100px" height="100px">
      </div>
      <div class="card shadow text-center border border-primary" style="min-height: 150px;">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3 text-white bg-primary font-weight-bold">Customer Insights (Coming Soon)</h5>
          <p class="card-text m-0 p-3">Understand your customers interests and sentiments towards your business with our
            AI enabled Insights Manager.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========================= Impress Area ============================== -->
<div class="container-fluid">
  <div class="row py-5 d-flex impress_area flex-row align-items-center">
    <div class="col-md-6 impress_inner py-5">
      <h2>Interested to know more?</h2>
      <a class="banner_btn2" (click)="openRequestedContact(requestedContactContent,'freedemo')">Request Free Demo</a>
    </div>
  </div>
</div>

<!--================Footer Area =================-->
<footer class="footer_area p_120">
  <div class="container">
    <div class="row footer_inner py-5">
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Products</h3>
          </div>
          <ul class="p-0" style="list-style-type: none;">
            <li class="">
              <a class="" routerLink="/">Platform</a>
            </li>
            <li>
              <a class="" routerLink="/">Reviews</a>
            </li>
            <li>
              <a class="" routerLink="/">Feedback</a>
            </li>
            <li>
              <a class="" routerLink="/">Reviews</a>
            </li>
            <li>
              <a class="" routerLink="/">Multi-Location</a>
            </li>
            <li>
              <a class="" routerLink="/">Customer Insights</a>
            </li>
            <li>
              <a class="" routerLink="/">Customer Management</a>
            </li>
            <li>
              <a class="" routerLink="/">Review Analytics</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Company</h3>
          </div>
          <ul class="p-0" style="list-style-type: none;">
            <li class="">
              <a class="" routerLink="/">About Us</a>
            </li>
            <li>
              <a class="" routerLink="/">Careers</a>
            </li>
            <li>
              <a class="" routerLink="/">Partners</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Contact Us</a>
            </li>
            <li>
              <a class="" routerLink="/" (click)="openRequestedContact(requestedContactContent,'freedemo')">Request
                Demo</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-2">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Follow Us</h3>
          </div>
          <p>Let us be social</p>
          <ul class="p-0 list" style="list-style-type: none;">
            <li><a routerLink="/"><img src="../../assets/imgs/fb.png" alt="facebook"></a></li>
            <li><a routerLink="/"><img src="../../assets/imgs/twitter.png" alt="twitter"></a></li>
            <li><a routerLink="/"><img src="../../assets/imgs/dribble.png" alt="dribble"></a></li>
            <li><a routerLink="/"><img src="../../assets/imgs/behance.png " alt="behance"></a></li>
          </ul>
        </aside>
      </div>      
      <div class="col-md-12 text-center text-white">
        © SpecSavi Technologies Pvt. Ltd. 2019 | <a routerLink="terms">Terms & Condition</a> | <a
          routerLink="/privacypolicy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->



<!--================Contact Modal =================-->
<ng-template #requestedContactContent let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="quick_invite">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]='requestedContactForm' (ngSubmit)='onRequest()'>
      <div class="form-group">
        <label for="Name">Full Name<span class="required">*</span></label>
        <div class="input-group">
          <input id="Name" class="form-control form-control-lg" formControlName="fullname" name="Name"
            [ngClass]="{ 'input-required': submitted && form.fullname.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="Email">Email Address</label>
        <div class="input-group">
          <input id="Email" class="form-control form-control-lg" formControlName="email" name="Email"
            [ngClass]="{ 'input-required': submitted && form.email.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number<span class="required">*</span></label>
        <div class="input-group">
          <input id="phoneNumber" type="text" class="form-control form-control-lg" formControlName="contactno" name="phoneNumber"
            [ngClass]="{ 'input-required': submitted && form.contactno.errors}">
        </div>
      </div>
      <div class="form-group">
        <label for="BusinessName">Business Name</label>
        <div class="input-group">
          <input id="BusinessName" class="form-control form-control-lg" formControlName="businessname" name="Business Name"
            [ngClass]="{ 'input-required': submitted && form.businessname.errors}">
        </div>
      </div>      
      <button *ngIf="modalMode === 'demo'" type="submit" class="btn btn-lg btn-outline-primary float-right">Send</button>
      <button *ngIf="modalMode === 'signup'" type="submit" class="btn btn-lg btn-outline-primary float-right">Sign Up</button>    
    </form>
  </div>
</ng-template>