* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav {
    height: 10vh;
}
.navbar-nav .nav-item {
    padding: 0 10px !important;
}

.navbar-nav .nav-link {
    font-size: 1.3em;
}

.home_banner_area {
  /* background: linear-gradient(to right, blue,dodgerblue,blue); */
  background-color: dodgerblue;
  min-height: 90vh;
}

.home_banner_area .banner_content {
    color: white;
}

/* Work Area css
============================================================================================ */
.work_inner {
    margin-bottom: -50px; 
}
  
.work_item {
    text-align: center;
    margin-bottom: 50px; 
}

.work_item img {
        height: 100px;
        width: 100px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        background: #f9f9ff;
        display: inline-block;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        color: #222222;
        margin-bottom: 30px;
        padding: 10px; 
}

.work_item i {
    height: 80px;
    width: 80px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background: #f9f9ff;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    color: #222222;
    margin-bottom: 30px; 
}

.work_item h4 {
    color: #222222;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px; 
}

.work_item p {
    font-size: 1.3em;
    max-width: 310px;
    margin: auto; 
}

.work_item a {
    text-transform: uppercase;
    text-decoration: none;
}

.work_item:hover img {
      background: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
      background: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
      background: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
      background: linear-gradient(to right, #4dabff, #62ddff );
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
      color: #fff; 
}

.work_item:hover h4 {
      color: #3bacf0; 
}
  
  /* End Work Area css
  ============================================================================================ */

  /* Main Title Area css
============================================================================================ */
.main_title {
    text-align: center;
    /* margin-bottom: 75px;  */
}

.main_title h1 {
    /* font-family: "Heebo", sans-serif; */
    /* font-size: 36px; */
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; 
}

.main_title h2 {
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase; 
}

.main_title h3 {
    color: #222222;
    font-weight: bold;
    padding: 50px;
    /* text-transform: uppercase;  */
}

.main_title p {
    font-size: 1.3em;
    /* font-family: "Roboto", sans-serif; */
    line-height: 25px;
    color: #777777;
    margin-bottom: 0px;
    max-width: 95%;
    margin: auto; 
}

.main_title.white h2 {
    color: #fff; 
}

.main_title.white p {
    color: #fff;
    opacity: .6; 
}
 
  /* End Main Title Area css

/* Impress Area css
============================================================================================ */
.impress_area {
    background: #3bacf0; }
    .impress_area .impress_inner {
      text-align: center;
      max-width: 780px;
      margin: auto; }
      .impress_area .impress_inner h2 {
        color: #fff;
        font-size: 36px;
        font-family: "Heebo", sans-serif;
        font-weight: bold;
        margin-bottom: 18px; }
      .impress_area .impress_inner p {
        color: #fff;
        margin-bottom: 35px; }
      .impress_area .impress_inner .banner_btn2 {
        padding: 0px 35px;
        width: auto;
        font-size: 14px;
        box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1); }
  
  /* End Impress Area css
  ============================================================================================ */

  .banner_btn2 {
    display: inline-block;
    background: white;
    color: #222222;
    font-family: "Roboto", sans-serif;
    width: 134px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 48px;
    border-radius: 3px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear 0s; }
    .banner_btn2:hover {
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      border-color: #fff; }


/* Footer Area css
============================================================================================ */
.footer_area {
    background: #000410; }
  
  .f_title {
    margin-bottom: 35px; }
    .f_title h3 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-family: "Heebo", sans-serif;
      margin-bottom: 0px; }
  
  .ab_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 30px; }
    .ab_widget p a {
      color: #3bacf0; }
    .ab_widget p + p {
      margin-bottom: 0px; }
  
  .news_widget {
    padding-left: 15px; }
    .news_widget a {
      text-decoration: none;
      color: white;
    }
    .news_widget a:hover {
      color: dodgerblue;
    }
    .news_widget p {
      font-size: 14px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      margin-bottom: 15px; }

      .news_widget .list li {
        margin-right: 10px;
        display: inline-block; }
    /* .news_widget .input-group input {
      height: 40px;
      background: #fff;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none; }
      .news_widget .input-group input.placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input:-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-webkit-input-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
    .news_widget .input-group .sub-btn {
      border-radius: 0px;
      background: #3bacf0;
      outline: none !important;
      box-shadow: none !important;
      padding: 0px;
      width: 42px;
      cursor: pointer;
      color: #fff; } */
  
  /* .social_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 10px; }
    .social_widget ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  .social_widget .list li {
    margin-right: 17px;
    display: inline-block; }
    .social_widget .list li a {
      color: #cccccc;
      font-size: 14px;
      transition: all 300ms linear 0s; }
    .social_widget .list li:last-child {
      margin-right: 0px; }
    .social_widget .list li:hover a {
      color: #3bacf0; }
  
  .copy_right_text {
    text-align: center;
    margin-top: 60px; }
    .copy_right_text p a {
      color: #3bacf0; } */
  
  /* End Footer Area css
  ============================================================================================ */
  
  