<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-12">
      <h5 class="text-center m-2 font-weight-bold">SUPPORT</h5>
      <form [formGroup] = "issueForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label for="issue">Issue Related To<span class="required">*</span></label>
          <select formControlName = "issue_related_to" class="form-control form-control-lg" id="issue"
          [ngClass] = "{'invalid-input': submitted && i.issue_related_to.errors}">
            <!-- <option value="None" selected="selected">--select issue--</option> -->
            <option value="Login related issues">Login related issues</option>
            <option value="Payment related issues">Payment related issues</option>
            <option value="Application related issues">Application related issues</option>
            <option value="SMS related queries">SMS related queries</option>
          </select>
        </div>
        <div class="form-group">
          <label for="quert">Issue Description<span class="required">*</span></label>
          <textarea formControlName = "issue_description" class="form-control" id="query" rows="5"
          [ngClass] = "{'invalid-input': submitted && i.issue_description.errors}"></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-primary float-right" >SEND ISSUE</button>
      </form>
    </div>
  </div>
</div>