<!-- <div>
    <canvas 
        baseChart
        [datasets]='barChartData'
        [labels]='barChartLabels'
        [options]='barChartOptions'
        [legend]='barChartLegend'
        [chartType]='barChartType'
    >

    </canvas>
</div>


 -->
<!-- <div style="display: block;">
    <canvas baseChart width="100" height="100"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div> -->

<div style="text-align: center ;height:20vh; width:40vw">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"></canvas>
</div>