<!-- <div class="container-fluid">
  <div class="row py-3">
    <div class="col-md-12 py-3">
      <button class="btn btn-lg btn-primary  mr-2 my-1" (click)="openVerticallyCentered(addCustomerModal)"><i
          class="fas fa-user-alt"></i> ADD CUSTOMER</button>
      <button class="btn btn-lg btn-primary mr-2 my-1" routerLink="/home/customers/import"><i class="fas fa-users"></i>
        IMPORT CUSTOMERS</button>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<ngx-ui-loader *ngIf='!isAllcustomer'></ngx-ui-loader>
<!-- Add Customer modal -->
<ng-template #addCustomerModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title">Add Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
      <div class="form-group">
        <label for="name">Customer Name<span class="required">*</span></label>
        <input type="text" formControlName='name' class="form-control"
          [ngClass]="{'input-required': submitted && cust.name.errors}">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email Address</label>
          <input type="text" formControlName='email' class="form-control"
            [ngClass]="{'input-required': submitted && cust.email.errors}">
        </div>
        <div class="form-group col-md-6">
          <label for="phoneNo">Phone No.<span class="required">*</span></label>
          <input type="number" formControlName='phoneno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
            class="form-control" (countryChange)="onCountryChange($event)"
            [ngClass]="{'input-required': submitted && cust.phoneno.errors}" />
        </div>
      </div>
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input type="text" formControlName='occupation' class="form-control">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dob">Birth Date</label>
          <input type="date" formControlName='birthdate' class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="anniversary">Anniversary</label>
          <input type="date" formControlName='anniversary' class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName='address' class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary float-right">ADD CUSTOMER</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- Update Customer modal -->
<ng-template #updateCustomerModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title">Edit Customer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="updateCustomerForm" (ngSubmit)="updateCustomer()">
      <div class="form-group">
        <label for="name">Customer Name<span class="required">*</span></label>
        <input type="text" formControlName='name' class="form-control"
          [ngClass]="{'input-required': submitted && custu.name.errors}">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" formControlName='email' class="form-control"
          [ngClass]="{'input-required': submitted && custu.email.errors}">
      </div>
      <div class="form-row">
        <!-- <div class="form-group col-md-3">
          <label for="countryCode">Country Code<span class="required">*</span></label>
          <input type="text" formControlName='dialCode' class="form-control"
            [ngClass]="{'input-required': submitted && custu.dialCode.errors}">
        </div> -->
        <div class="form-group col-md-9">
          <label for="phoneNo">Phone No.<span class="required">*</span></label>
          <!-- <input type="number" formControlName='phoneno' class="form-control"
            [ngClass]="{'input-required': submitted && custu.phoneno.errors}"> -->

          <input type="number" formControlName='phoneno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
            class="form-control" (countryChange)="onCountryChange($event)"
            [ngClass]="{'input-required': submitted && custu.phoneno.errors}" />
        </div>
      </div>
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input type="text" formControlName='occupation' class="form-control">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dob">Birth Date</label>
          <input type="date" formControlName='birthdate' class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label for="anniversary">Anniversary</label>
          <input type="date" formControlName='anniversary' class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName='address' class="form-control">
      </div>
      <!-- <div class="form-row mb-3">
        <div class="col-md-3">
          <label for="campaigned">Campaigned:</label>
        </div>
        <div class="col-md-3">
          <ui-switch size="small" formControlName="campaignmsg"></ui-switch>
        </div>
        <div class="col-md-3">
          <label for="campaigned">Feedback:</label>
        </div>
        <div class="col-md-3">
          <ui-switch size="small" formControlName="is_feedback"></ui-switch>
        </div>
      </div> -->
      <div class="form-group">
        <button type="button" class="btn btn-lg btn-primary float-right" (click)="modal.dismiss()">CANCEL</button>
        <button type="submit" class="btn btn-lg btn-primary float-right mr-1">UPDATE</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Customer modal -->
<ng-template #deleteCustomerModal let-modal>
  <div class="">

    <button type="button" class="close mr-3 mt-1 p-1" aria-label="Close" (click)="modalDismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="col-md-12  text-center">
      <h4>Are you sure you want to delete ?</h4>
      <div class="mt-2">
        <button class="btn btn-success btn-lg p-2" type="button" (click)="deleteCustomer()">Yes</button>
        <button class="btn btn-danger btn-lg ml-3 p-2" type="button" (click)="modalDismiss()">No</button>
      </div>
    </div>
  </div>
</ng-template>
<!-- Delete Selected Customer modal -->
<ng-template #deleteSelectedCustomerModal let-modal>
  <div class="">

    <button type="button" class="close mr-3 mt-1 p-1" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="col-md-12  text-center">
      <h4 class="modal-title"> Do you really want to delete selected customers?</h4>
      <div class="mt-2 ">
        <button class="btn btn-success btn-lg p-2" type="button" (click)="deleteSelected()">Yes</button>
        <button class="btn btn-danger btn-lg ml-3 p-2" (click)="modal.dismiss()" type="button">No</button>
      </div>
    </div>

  </div>
</ng-template>

<div class="container-fluid" *ngIf='isAllcustomer'>
  <div class="row py-5">
    <div class="col-md-12 px-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" #navaddCustomerstab id="nav-addCustomers-tab" data-toggle="tab"
            href="#nav-addCustomers" role="tab" aria-controls="nav-addCustomers" aria-selected="false"
            (click)='check()'><i class="fas fa-user">
            </i> ADD CUSTOMER</a>
          <a class="nav-item nav-link" id="nav-importCustomers-tab" data-toggle="tab" href="#nav-importCustomers"
            role="tab" aria-controls="nav-importCustomers" aria-selected="false"><i class="fas fa-users">
            </i> IMPORT CUSTOMERS</a>
        </div>
      </nav>
    </div>
    <div class="col-md-12 p-3">
      <div class="tab-content" id="nav-tabContent">
        <!-- addCustomer -->
        <div class="tab-pane  fade p-3 active show" id="nav-addCustomers" role="tabpanel"
          aria-labelledby="nav-addCustomers-tab">
          <div class="row ">
            <div class="col-md-12">
              <a class="btn btn-sm btn-primary addCustomerBtn mr-1 mb-2 float-right"
                (click)="openVerticallyCentered(addCustomerModal)" data-toggle="tooltip" data-placement="bottom"
                title="Add Customer."><i class="fas fa-user-plus"></i>
                Add Customer</a>
            </div>
          </div>
          <div class="addCustomerBtn mb-2" style="width: 48%;display: inline-block;">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Enter Name/Phone Number/Email"
                [(ngModel)]='searchtext'>
            </div>
          </div>
          <a class="btn btn-sm btn-danger mb-2 mr-1 float-right"
            (click)="openSelectedDeleteCustomerModal(deleteSelectedCustomerModal)" routerLink="/home/customers"
            data-toggle="tooltip" data-placement="bottom" title="Delete Multiple Customer.">
            <i class="fas fa-trash-alt"></i>
            Delete
          </a>

          <a class="btn btn-sm btn-success mb-2 mr-1 float-right" (click)="updateCampaignedSelected(true)"
            routerLink="/home/customers" data-toggle="tooltip" data-placement="bottom"
            title="Allow To Send Feedback Campaign Multiple Times In 12 Hours.">
            <i class="fas fa-check"></i>
            Mark As Feedback Campaigned
          </a>

          <a class="btn btn-sm btn-danger mb-2 mr-1 float-right" (click)="updateCampaignedSelected(false)"
            routerLink="/home/customers" data-toggle="tooltip" data-placement="bottom"
            title="Do Not Allow To Send Feedback Campaign Multiple Times In 12 Hours."> <i class="fas fa-times"></i>
            Mark As Not Feedback Campaigned
          </a>
          <!-- <a class="btn btn-sm btn-success mb-2 mr-1 float-right" (click)="updateFeedbackedSelected(true)"
            routerLink="/home/customers"><i class="fas fa-check"></i> Mark as Feedbacked</a>
          <a class="btn btn-sm btn-danger mb-2 mr-1 float-right" (click)="updateFeedbackedSelected(false)"
            routerLink="/home/customers"><i class="fas fa-times"></i> Mark as not Feedbacked</a> -->


          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">
                    <input type="checkbox" (click)='selectAll(isAll)' id='selectAllCheckbox'>
                  </th>
                  <th scope="col">#</th>
                  <th scope="col" style="text-align: left">Customer Name</th>
                  <th scope="col" style="text-align: left"> Phone No</th>
                  <th scope="col" style="text-align: left">Email</th>
                  <th scope="col" style="text-align: left">Feedback Campaign Sent ?</th>
                  <th scope="col" style="text-align: left">Feedback Received ?</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor='let customer of CUSTOMERS| filter : searchtext | paginate: { itemsPerPage: itemsPerPage, currentPage: p } ; let i = index '
                  (change)='change(i)'>
                  <td>
                    <input type="checkbox" [checked]='CUSTOMERS[absoluteIndex(i)].selected'>
                  </td>
                  <td>
                    {{absoluteIndex(i)+1}}
                  </td>
                  <td style="text-align: left">
                    {{customer.name}}
                  </td>
                  <td style="text-align: left">
                    {{customer.phoneno}}
                  </td>
                  <td style="text-align: left">
                    {{customer.email}}
                  </td>
                  <td *ngIf=customer.campaignmsg style="text-align: left;color: green;font-weight: bold">
                    <div>
                      Feedback Campaign Sent.
                    </div>
                  </td>
                  <td *ngIf=!customer.campaignmsg style="text-align: left;color: red;font-weight: bold">
                    <div>
                      Feedback Campaign Not Sent.
                    </div>
                  </td>
                  <td *ngIf=customer.is_feedback style="text-align: left;color: green;font-weight: bold">
                    <div>
                      Received.
                    </div>
                  </td>
                  <td *ngIf=!customer.is_feedback style="text-align: left;color: red;font-weight: bold">
                    <div>
                      Not Received.
                    </div>
                  </td>
                  <td>
                    <i class="fas fa-edit" title="Edit"
                      (click)="openUpdateCustomerModal(updateCustomerModal,customer)"></i>&nbsp;&nbsp;
                    <i class="fas fa-trash-alt" title="Delete"
                      (click)="openDeleteCustomerModal(deleteCustomerModal , customer)">
                    </i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2">
            <pagination-controls (pageChange)="page = $event;pageChanged($event)" directionLinks="true">
            </pagination-controls>
            <select class="custom-select" style="width: auto" [(ngModel)]="itemsPerPage">
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="20">20 items per page</option>
              <option [ngValue]="30">30 items per page</option>
            </select>
          </div>
        </div>
        <!-- IMPORT customers -->
        <div class="tab-pane fade p-3" id="nav-importCustomers" role="tabpanel"
          aria-labelledby="nav-importCustomers-tab">
          <div class="container-fluid">
            <div class="row py-3">
              <div class="col-md-12 py-3">
                <div class="text-center my-3 p-5 border">
                  <h5 style="color: red;"><span>Note: </span>The uploaded file must be CSV file only. You can download
                    sample csv file
                    format given below. Strictly use the same coloumn fields provided in the Sample CSV. Only Name,
                    Dial
                    Code (i.e.
                    Country Code) and Mobile no. are mandatory.</h5>
                  <a class="btn btn-primary my-3" target="_blank"
                    href="https://speclocal.com/assets/files/SampleTemplate.csv">Download
                    Sample CSV</a>

                </div>
                <!-- <button type="button" class="btn btn-primary my-3 float-right" (click)="onSave()">Download Sample CSV</button> -->
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02" ng2FileSelect
                      [uploader]="uploader" accept=".csv">
                    <label class="custom-file-label" for="inputGroupFile02"
                      aria-describedby="inputGroupFileAddon02">{{filename}}</label>
                  </div>
                  <div class="input-group-append">
                    <button class="input-group-text btn btn-primary" id="inputGroupFileAddon02"
                      (click)="uploader.uploadAll()"
                      [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
                  </div>
                </div>

                <!-- table -->
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Email</th>
                        <th scope="col">Occupation</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Anniversary</th>
                        <th scope="col">Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let customer of IMPORTCUSTOMERS;let i=index">
                        <th scope="row">{{ absoluteIndex(i)+1 }}</th>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.dialCode }}</td>
                        <td>{{ customer.phoneno}}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.occupation }}</td>
                        <td>{{ customer.birthdate }}</td>
                        <td>{{ customer.anniversary }}</td>
                        <td>{{ customer.address }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                  <ngb-pagination [collectionSize]="importcollectionSize" [(page)]="importpage"
                    [pageSize]="importpageSize">
                  </ngb-pagination>

                  <select class="custom-select" style="width: auto" [(ngModel)]="importpageSize">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="30">30 items per page</option>
                  </select>
                </div>
                <!-- <button class="btn btn-lg btn-primary float-right mx-1" routerLink="/home/customers">BACK</button> -->
                <button class="btn btn-lg btn-primary float-right mx-1" (click)='addCustomers()'
                  [disabled]="importcollectionSize == 0">ADD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
