.required {
    color: red;
}

.invalid-input {
    border: 1px solid red;
}
.isSelected{
    color:  white;    
    background-color: green;
  }
  .isNotSelected{
    color:  black;      
  }
  .addCustomerBtn{
    color: white !important
  }