<!-- <div class="col-md-6 py-3 px-0">
<h4>Analytics</h4>
</div> -->
<div class="container-fluid">
  <div class="row py-4 vertical-center">
    <div class="col-md-12">
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
        <div class="m-1 p-4 border"
          *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
          <img src="../../../assets/imgs/warning-icon.png" alt="warning" width="50px" height="50px">
          <h5 class="m-2">NOT CONNECTED WITH ANY SOCIAL MEDIA PLATFORM</h5>
          <a routerLink="/home/settings" class="btn btn-primary">Connect Now</a>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
        <div class="social-media-account m-1 p-4 border" *ngIf="fbService.connectedWithFacebook">
          <img src="../../../assets/imgs/facebook.png" alt="facebook" width="50px" height="50px">
          <div style="height: 42px; overflow:hidden;">
            <h6 *ngIf="!fbService.connectedWithFacebook">
              Not Connected
            </h6>
            <h6 *ngIf="fbService.connectedWithFacebook">
              Connected | <span>{{fbService.linked_page.name}}</span>
            </h6>
          </div>
          <br>
          <h6 class="m-2">AVERAGE RATING</h6>
          <h2>
            {{fbService.average_rating | number:'1.1-1'}} / 5
          </h2>
          <ngb-rating [rate]="fbService.average_rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star2" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>
          <hr>
          <h5>TOTAL REVIEWS</h5>
          <h2>{{fbService.reviews.length}}</h2>
        </div>
        <div class="social-media-account m-1 p-4 border" *ngIf="googleService.connectedWithGoogle">
          <img src="../../../assets/imgs/google.png" alt="facebook" width="50px" height="50px">
          <div style="height: 42px; overflow:hidden;">
            <h6 *ngIf="!googleService.connectedWithGoogle">
              Not Connected
            </h6>
            <h6 *ngIf="googleService.connectedWithGoogle">
              Connected | <span>{{googleService.linked_location.locationName}}</span>
            </h6>
          </div>
          <br>
          <h6 class="m-2">AVERAGE RATING</h6>
          <h2>
            {{googleService.average_rating | number:'1.1-1'}} / 5
          </h2>
          <ngb-rating [rate]="googleService.average_rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star2" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>
          <hr>
          <h5>TOTAL REVIEWS</h5>
          <h2>{{googleService.reviews.length}}</h2>
        </div>
        <div class="social-media-account m-1 p-4 border" *ngIf="zomatoService.connectedWithZomato">
          <img src="../../../assets/imgs/zomato-logo.jpg" alt="facebook" width="50px" height="50px">
          <div style="height: 42px; overflow:hidden;">
            <h6 *ngIf="!zomatoService.connectedWithZomato">
              Not Connected
            </h6>
            <h6 *ngIf="zomatoService.connectedWithZomato">
              Connected | <span>{{zomatoService.res_name}}</span>
            </h6>
          </div>
          <br>
          <h6 class="m-2">AVERAGE RATING</h6>
          <h2>
            {{zomatoService.average_rating | number:'1.1-1'}} / 5
          </h2>
          <ngb-rating [rate]="zomatoService.average_rating">
            <ng-template let-fill="fill" let-index="index">
              <span class="star2" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
            </ng-template>
          </ngb-rating>
          <hr>
          <h5>TOTAL REVIEWS</h5>
          <h2>{{zomatoService.reviews.length}}</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- chart js -->
  
  <div class="row bg-light"
    *ngIf=" fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    <div class="col-md-12 text-center mt-5">
        <h2 class="" >Graphical Analytics</h2>
    </div>
    <div class="col-md-12 p-2 d-flex flex-row justify-content-center">
      <div class="d-block graph-wrapper">
        <!--class="float-right " chartOptionDisplay mr-5 -->
        <div class="row" style="padding-top: 3%;padding-bottom: 3%">
          <div class="col-md-4" style="margin-left: 3%;">
            <select class="form-control ml-5" id="exampleFormControlSelect1" (change)='chartByDays($event)'>
              <option value='-1'>Select Days</option>
              <option value='7'>7 Days</option>
              <option value='15'>15 Days</option>
              <option value='30'>30 Days</option>
              <option value='dtrange'>Custom Date</option>
            </select>
          </div>
          <div class="col-md-4" *ngIf='isShowDatePicker' style="margin-left: 2%!important;margin-right: 10%!important;">
            <div class="chartOptionDisplay">
              <form class="form-inline" style="display: contents;">
                <div class="form-group mr-2">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDate" ngbDatepicker
                      #startdt="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="startdt.toggle()" type="button">
                        <i class="fas fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate" ngbDatepicker
                      #enddt="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="enddt.toggle()" type="button">
                        <i class="fas fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button type="button" class="btn btn-primary" style="margin-left: 4%!important"
            (click)='refreshAnalyticData()'>Reload</button>
        </div>
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [chartType]="lineChartType" class="m-0"></canvas>
      </div>
    </div>
    
  </div>
</div>