h5{
    font-weight: bold;
}

.social-media-account{
    width: 250px;
    height: 350px;
    overflow: auto;
}

.social-media-account h6{
    margin: 10px;
}

.social-media-account h6 span{
    color: green;
    font-weight: bold;
}

.social-media-account a{
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.social-media-account a:hover{
    color: blue;
}
.charView{
    width: 100%!important;
    height: 100%!important;
}
/* .chart-outer-div{
    position: relative;height: 80vh;width: 77vw;padding-left: 18%;padding-top: 2%
}
.chart-inner-div{
    display: inline-flex;
}
canvas{
    margin-left: 17%;
} */

.metric-display {
    width: 300px;
    box-shadow: 0 0 5px grey;
    background: white;
}

.graph-wrapper {
    text-align: center;
    width:80%;
}
.chartOptionDisplay{
    display: flex;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }