h5{
    font-weight: bold;
}

.goal-wrapper h5{
    display: inline-block;
    background-color: blue;
    padding: 10px 30px;
    color:white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 

}

.form-wrapper input[type=text], .form-wrapper input[type=number] {
    display: block;
    height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    /* border:1px solid blue; */
}

.form-wrapper input[type=text]:focus, .form-wrapper input[type=number]:focus {
    outline: none !important;
}

.form-wrapper button{
    width: 50%;
    height: 40px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 20px;
}

.form-wrapper button:hover {
    box-shadow: 0 0 5px lightblue;
}

.form-wrapper button:focus {
    outline: none;
}

.recent-reviews{
    max-height: 600px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-y: auto;
}

.connected:hover {
    background-color: navy !important;
}

.card-text {
    height: 4.5em;
    overflow-y: auto;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }