<div class="container-fluid">
  <div class="row p-4 vertical-center"
    *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato" >
    <div class="col-md-12" *ngIf="!roleEmp">
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
        <div class="m-1 p-4 border"
          *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
          <img src="../../../assets/imgs/warning-icon.png" alt="zomato" width="50px" height="50px">
          <h5 class="m-2">NOT CONNECTED WITH ANY SOCIAL MEDIA PLATFORM</h5>
          <a routerLink="/home/settings" class="btn btn-primary">Connect Now</a>
        </div>
      </div>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
  </div>

  <div class="row text-center"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    <div class="col-md-12 p-3 pt-5 ">
      <h5>YOUR BUSINESS PROGRESS</h5>
      <p>Average Rating & Reviews</p>
    </div>
  </div>
  <div class="row"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    <div class="col-md-3 bg-primary border rounded text-white">
      <div class="goal-wrapper text-center">
        <h5>Overall Goal</h5>
        <h1 class="mt-5">{{goalCount}}</h1>
        <p>TARGET</p>
        <h1>{{feedbackCountThisMonth}}</h1>
        <p>REVIEWS THIS MONTH</p>
      </div>
    </div>
    <div class="col-md-6 pb-5 bg-primary border rounded text-white">
      <div class="goal-wrapper text-center">
        <h5>Overall Invite Progress (This Month)</h5>
        <div class="d-flex flex-row justify-content-center">
          <div class="border rounded p-3 m-3" style="width: 150px;">
            <h1>{{sentinvitations}}</h1>
            <p>INVITATIONS SENT</p>
          </div>
          <div class="border rounded-lg p-3 m-3" style="width: 150px;">
            <h1>{{daysLeft}}</h1>
            <p>DAYS LEFT</p>
          </div>
        </div>
        <hr>
        <h6>INVITATIONS REACH BAR</h6>
        <h1>{{sentinvitations}}/{{invitation}}</h1>
        <ngb-progressbar type="warning" [value]="(sentinvitations/(invitation))*100" [striped]="true" [animated]="true"
          height="30px"><i>{{(sentinvitations/(invitation))*100 | number:'1.0-0'}}%</i>
        </ngb-progressbar>
      </div>
    </div>
    <div class="col-md-3 border bg-primary rounded text-white">
      <div class="goal-wrapper form-wrapper text-center">
        <h5>Average Rating</h5>
        <h1 class="mt-5">
          {{((googleService.average_rating + fbService.average_rating + zomatoService.average_rating)/divideBy()) | number:'1.1-1'}}/5
        </h1>
        <ngb-rating
          [rate]="(googleService.average_rating + fbService.average_rating + zomatoService.average_rating)/divideBy()">
          <ng-template let-fill="fill" let-index="index">
            <span class="star2" [class.filled]="fill === 100"><i class="fas fa-star"></i></span>
          </ng-template>
        </ngb-rating>
        <hr>
        <h6>TOTAL REVIEWS</h6>
        <h2>{{fbService.reviews.length + googleService.reviews.length + zomatoService.reviews.length}}</h2>
      </div>
    </div>
  </div>

  <h5 class="text-center m-5"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    RECENT REVIEWS</h5>
  <div class="row"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    <div class="col-md-4" *ngFor="let review of _reviewFacebook.review">
      <div class="card mb-3 p-0 border-0">
        <div class="row no-gutters m-1 border h-100">
          <div class="col-md-12"
            style="background-image: url('../../../assets/imgs/facebook.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
            <div class="card-body">
              <h5 class="card-title">{{review.reviewer.name}}</h5>
              <h3 class="card-subtitle"
                [ngClass]="{'text-success':review.recommendation_type=='positive','text-danger':review.recommendation_type=='negative'}">                
              </h3>
              <ngb-rating [rate]="getStarRatingValue(review.recommendation_type)">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100"
                    [class.bad]="index < getStarRatingValue(review.recommendation_type)"><i
                      class="fas fa-star"></i></span>
                </ng-template>
              </ngb-rating>
              <p class="card-text text-justify pr-2"><span
                  class="badge badge-pill badge-warning">{{getStarRatingValue(review.recommendation_type)}}</span>
                {{review.review_text}}</p>
              <p class="card-text"><span class="text-muted">{{review.created_time | date:'medium'}}</span></p>
              <a href="https://www.facebook.com/{{review.open_graph_story.id}}" target="_blank" class="card-link">Reply
                <i class="fas fa-reply"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4" *ngFor="let review of _reviewGoogle.reviews">
      <div class="card mb-3  p-0 border-0">
        <div class="row no-gutters m-1 border h-100">
          <div class="col-md-12"
            style="background-image: url('../../../assets/imgs/google.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
            <div class="card-body">
              <h5 class="card-title">{{review.reviewer.displayName | titlecase}}</h5>
              <ngb-rating [rate]="getStarRatingValue(review.starRating)">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100"
                    [class.bad]="index < getStarRatingValue(review.starRating)"><i class="fas fa-star"></i></span>
                </ng-template>
              </ngb-rating>
              <p class="card-text text-justify pr-2"><span
                  class="badge badge-pill badge-warning">{{getStarRatingValue(review.starRating)}}</span>
                {{review.comment}}</p>
              <p class="card-text"><span class="text-muted">{{review.createTime | date:'medium'}}</span></p>
              <a href="#" class="card-link" data-toggle="collapse" href="#{{review.reviewId}}" role="button"
                aria-expanded="false" aria-controls="reply">Reply <i class="fas fa-reply"></i></a>
              <div class="collapse" id="{{review.reviewId}}">
                <div class="card card-body">
                  <form [formGroup]='googleReplyForm' (ngSubmit)='postGoogleReply(review.name)'>
                    <div class="form-row my-1">
                      <div class="col-12 m-1">
                        <textarea formControlName='comment' class="form-control" id="replyTextArea" rows="2"></textarea>
                      </div>
                      <div class="col-12 m-1">
                        <button type="submit" class="btn btn-primary">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <a *ngIf="review.reviewReply" href="#" class="card-link float-right" data-toggle="collapse"
                href="#lastreply{{review.reviewId}}" role="button" aria-expanded="false" aria-controls="reply">Last
                Reply</a>
              <div *ngIf="review.reviewReply" class="collapse" id="lastreply{{review.reviewId}}">
                <p class="card-text text-justify pr-2">
                  {{review.reviewReply.comment}}</p>
                <p class="card-text"><span
                    class="text-muted text-success float-right">{{review.reviewReply.updateTime | date:'medium'}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngFor="let review of zomatoService.recentReviews">
      <div class="card mb-3 p-0 border-0">
        <div class="row no-gutters m-1 border h-100">
          <div class="col-md-12"
            style="background-image: url('../../../assets/imgs/zomato.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
            <div class="card-body">
              <h5 class="card-title">{{review.review.user.name | titlecase}}</h5>
              <ngb-rating [rate]="review.review.rating">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < review.review.rating"><i
                      class="fas fa-star"></i></span>
                </ng-template>
              </ngb-rating>
              <p class="card-text text-justify pr-2"><span
                  class="badge badge-pill badge-warning">{{review.review.rating}}</span>
                {{review.review.review_text}}</p>
              <p class="card-text"><span
                  class="text-muted">{{ convertUnixToDate(review.review.timestamp) | date:'medium' }}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card mb-3 p-0 border-0">
        <div class="row no-gutters m-1 border h-100">
          <div class="card-body">
            <div>
              <button routerLink="/home/reviews" class="btn btn-primary viewbtn">View More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>