.warningmsg{
    color: red;
}



/*=============*/

.pulse {
    color: yellow;
    -webkit-animation: blink 1500ms infinite;
            animation: blink 1500ms infinite;
            text-align :right;float: right;font-size: 18px;
            padding-left: 60px
            
}

@-webkit-keyframes blink { 50% { color: #007bff; }}
        @keyframes blink { 50% { color: #007bff; }}

/*=============*/


@-webkit-keyframes pulse {
	0% { color: #007bff; }
	100% { color: yellow; }
}
@keyframes pulse {
	0% { color: #007bff; }
	100% { color: yellow; }
}