<div class="container-fluid">
  <div class="row py-3">
    <div class="addCustomerBtn mb-2" style="width: 50%;display: inline-block;margin-top: 0.1%;">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Enter Name/Phone Number/Email" [(ngModel)]='searchtext'>
      </div>
    </div>
    <div class=" float-right ml-auto">
      <a class="btn btn-sm btn-danger mb-2  float-right my-1" style="color: white;"
        (click)="deleteSelectedmodal(deleteSelectedCustomerModal)" data-toggle="tooltip" data-placement="bottom"
        title="Delete Multiple Employees."><i class="fas fa-trash-alt"></i> Delete</a>

      <button class="btn btn-sm btn-primary float-right  my-1 mr-1" [disabled]="emplimitfull"
        (click)="openVerticallyCentered(addEmployeeModal)" data-toggle="tooltip" data-placement="bottom"
        title="Add Employee.">
        <i class="fas fa-user-alt"></i> Add Employee</button>
    </div>
  </div>
  <div class="row float-right ml-auto">    
      <p *ngIf="emplimitfull" class="warningmsg">You left 0 employee credit. <a routerLink="/home/settings">update
          employee credit</a></p>    
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">
          <input type="checkbox" (click)='selectAll(isAll)' id='selectAllCheckbox'>
        </th>
        <th scope="col">#</th>
        <th scope="col" style="text-align: left">Name</th>
        <th scope="col" style="text-align: left">Phone No</th>
        <th scope="col" style="text-align: left">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor='let employee of EMPLOYEES| filter : searchtext | paginate: { itemsPerPage: itemsPerPage, currentPage: p } ; let i = index '
        (change)='change(i)'>
        <td>
          <input type="checkbox" [checked]='EMPLOYEES[absoluteIndex(i)].selected'>
        </td>
        <th scope="row">{{ absoluteIndex(i)+1 }}</th>
        <td style="text-align: left">{{ employee.firstname }} {{ employee.lastname }}</td>
        <td style="text-align: left">{{ employee.contactno}}</td>
        <td style="text-align: left">{{ employee.email }}</td>
        <td>
          <i class="fas fa-eye" title="View"
            (click)="showEmpDetailsModal(showEmployeeDetailsModal,employee.email)"></i>&nbsp;&nbsp;
          <i class="fas fa-edit" title="Edit" (click)="openUpdateEmpModal(updateEmpModal,employee)"></i>&nbsp;&nbsp;
          <i class="fas fa-trash-alt" title="Delete"
            (click)="openDeleteEmployeeModal(deleteEmployeeDetailsModal,employee)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-between p-2">
  <pagination-controls (pageChange)="page = $event;pageChanged($event)" directionLinks="true">
  </pagination-controls>
  <select class="custom-select" style="width: auto" [(ngModel)]="itemsPerPage">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>

<!-- Add EMPLOYEE modal -->
<ng-template #addEmployeeModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" style="float:left;text-align: left;">Add Employee
      <span class="pulse">You left {{noofemployee-employeeCount}} employee credit</span>
    </h4>
    <!-- <h5 style="text-align :right;float: right;">You left {{noofemployee-employeeCount}} employee credit</h5> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
      <div class="form-group">
        <label for="fname">First Name<span class="required">*</span></label>
        <input type="text" formControlName='firstname' class="form-control"
          [ngClass]="{'input-required': submitted && emp.firstname.errors}">
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" formControlName='lastname' class="form-control"
          [ngClass]="{'input-required': submitted && emp.lastname.errors}">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email Address<span class="required">*</span></label>
          <input type="text" formControlName='email' class="form-control"
            [ngClass]="{'input-required': submitted && emp.email.errors}">
        </div>

        <!-- <div class="form-group col-md-6">
          <label for="contactNo">Phone No.<span class="required">*</span></label>
          <input type="text" formControlName='contactno' class="form-control"
            [ngClass]="{'input-required': submitted && emp.contactno.errors}">
        </div> -->
        <div class="form-group col-md-6">
          <label for="contactNo">Phone No.<span class="required">*</span></label>
          <input type="number" formControlName='contactno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
            class="form-control" (countryChange)="onCountryChange($event)"
            [ngClass]="{'input-required': submitted && emp.contactno.errors}" />
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password<span class="required">*</span></label>
        <input type="password" formControlName='password' class="form-control"
          [ngClass]="{'input-required': submitted && emp.password.errors}">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName='address' class="form-control"
          [ngClass]="{'input-required': submitted && emp.address.errors}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary float-right">ADD EMPLOYEE</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Update EMPLOYEE modal -->
<ng-template #updateEmpModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title">Edit Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="updateEmpForm" (ngSubmit)="updateEmployee()">
      <div class="form-group">
        <label for="firstname">First Name<span class="required">*</span></label>
        <input type="text" formControlName='firstname' class="form-control"
          [ngClass]="{'input-required': submittedupdate && empu.firstname.errors}" (keydown)='alphaOnly($event)'>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" formControlName='lastname' class="form-control"
          [ngClass]="{'input-required': submittedupdate && empu.lastname.errors}" (keydown)='alphaOnly($event)'>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email Address</label>
          <input type="text" formControlName='email' class="form-control"
            [ngClass]="{'input-required': submittedupdate && empu.email.errors}">
        </div>
        <!-- <div class="form-group col-md-6">
          <label for="phoneNo">Phone No.<span class="required">*</span></label>
          <input type="text" formControlName='contactno' class="form-control"
            [ngClass]="{'input-required': submitted && emp.contactno.errors}">
        </div> -->
        <div class="form-group col-md-6">
          <label for="contactNo">Phone No.<span class="required">*</span></label>
          <input type="number" formControlName='contactno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
            class="form-control" (countryChange)="onCountryChange($event)"
            [ngClass]="{'input-required': submittedupdate && empu.contactno.errors}" />
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-lg btn-primary float-right" (click)="modal.dismiss()">CANCEL</button>
        <button type="submit" class="btn btn-lg btn-primary float-right mr-1">UPDATE</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- View Employee -->
<ng-template #showEmployeeDetailsModal let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title">Employee Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <div class="col-md-12 p-5 border text-center">
      <div class="text-center">
        <div class="d-flex flex-row justify-content-center">
          <div class="border rounded p-3 m-3" style="width: 150px;">
            <h1>{{goal}}</h1>
            <p>GOAL TARGET</p>
          </div>
        </div>
        <h5>INVITE PROGRESS</h5>
        <div class="d-flex flex-row justify-content-center">
          <div class="border rounded p-3 m-3" style="width: 150px;">
            <h1>{{sentinvitations}}</h1>
            <p>INVITATIONS SENT</p>
          </div>
          <div class="border rounded p-3 m-3" style="width: 150px;">
            <h1>{{invitationgoal}}</h1>
            <p>INVITATION GOAL</p>
          </div>
        </div>
        <hr>
        <h6>INVITATIONS REACH BAR</h6>
        <h1>{{sentinvitations}}/{{invitationgoal}}</h1>
        <ngb-progressbar type="warning" [value]="(sentinvitations/(invitationgoal))*100" [striped]="true"
          [animated]="true" height="30px"><i>{{(sentinvitations/(invitationgoal))*100 | number:'1.0-0'}}%</i>
        </ngb-progressbar>
      </div>
      <button class="btn btn-primary m-2" (click)="modal.dismiss()">CLOSE</button>
    </div>
  </div>
</ng-template>

<!-- Delete Employee -->
<ng-template #deleteEmployeeDetailsModal let-modal>
  <div class="">
    <button type="button" class="close mr-3 mt-1 p-1" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 p-4 text-center">
      <h4>Are you sure you want to delete ?</h4>
      <div>
        <button class="btn btn-success m-2" (click)="deleteEmployee()">Yes</button>
        <button class="btn btn-danger m-2" (click)="modal.dismiss()">No</button>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #deleteSelectedCustomerModal let-modal>
  <div class="">
    <button type="button" class="close mr-3 mt-1 p-1" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="col-md-12  text-center">
      <h4 class="modal-title"> Do you really want to delete selected customers?</h4>
      <div class="mt-2 ">
        <button class="btn btn-success btn-lg p-2" type="button" (click)="deleteSelected()">Yes</button>
        <button class="btn btn-danger btn-lg ml-3 p-2" (click)="modal.dismiss()" type="button">No</button>
      </div>
    </div>

  </div>
</ng-template>