<div class="wrapper fadeIn">
  <div class="d-block w-100 mb-5 text-center">
    <button class="btn btn-lg btn-primary" routerLink="/"><i class="fas fa-home"></i> Home</button>
  </div>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first p-5">
      <img src="../../assets/imgs/SpecView.png" id="icon" alt="Icon" width="100px" />
      <!-- <h3 class="m-5">SpecLocal</h3> -->
    </div>

    <!-- Login Form -->
    <div *ngIf='hide'>
      <form [formGroup]='loginForm' (ngSubmit)='login()'>
        <input formControlName='email' type="email" id="login" class="fadeIn second" name="login" placeholder="Email ID"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <!-- <input formControlName='password' type="password" id="password" class="fadeIn third" name="password"
          placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"> -->

        <div class="relative"><input formControlName='password' type="password" id="password" class="fadeIn third"
            name="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div class="absolute">
            <div class="pretty p-icon p-toggle p-plain">
              <input name="show-Password" type="checkbox" value="" id="show-Password" onclick="showPassword()" />
              <div class="state p-success-o p-on">
                <i class="fas fa-eye"></i>
              </div>
              <div class="state p-off">
                <i class="fas fa-eye-slash"></i>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" class="fadeIn fourth" id="login-btn" name="login-btn" value="Log In">
      </form>
    </div>
    <div *ngIf='!hide'>
      <form [formGroup]='forgotPasswordForm' (ngSubmit)='resetPassword()'>
        <input formControlName='email' type="email" id="forgot" class="fadeIn second" name="forgot"
          placeholder="Email ID" [ngClass]="{ 'is-invalid': submittedF && p.email.errors }">
        <input type="submit" class="fadeIn fourth" name="reset" value="Reset">
      </form>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)='forgotPassword()' *ngIf='hide'>Forgot Password?</a>
      <a class="underlineHover" (click)='goTologin()' *ngIf='!hide'>Log In</a>      
    </div>
  </div>
</div>