* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    height: 10vh;
}
.navbar-nav .nav-item {
    padding: 0 10px !important;
}

.navbar-nav .nav-link {
    font-size: 1.3em;
}

/* Footer Area css
============================================================================================ */
.footer_area {
    background: #000410; }
  
  .f_title {
    margin-bottom: 35px; }
    .f_title h3 {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      font-family: "Heebo", sans-serif;
      margin-bottom: 0px; }
  
  .ab_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 30px; }
    .ab_widget p a {
      color: #3bacf0; }
    .ab_widget p + p {
      margin-bottom: 0px; }
  
  .news_widget {
    padding-left: 15px; }
    .news_widget a {
      text-decoration: none;
      color: white;
    }
    .news_widget a:hover {
      color: dodgerblue;
    }
    .news_widget p {
      font-size: 14px;
      line-height: 24px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      margin-bottom: 15px; }
    .news_widget .input-group input {
      height: 40px;
      background: #fff;
      border-radius: 0px;
      width: 80%;
      border: none;
      padding: 0px 15px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #cccccc;
      outline: none;
      box-shadow: none; }
      .news_widget .input-group input.placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input:-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-moz-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
      .news_widget .input-group input::-webkit-input-placeholder {
        font-size: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #cccccc; }
    .news_widget .input-group .sub-btn {
      border-radius: 0px;
      background: #3bacf0;
      outline: none !important;
      box-shadow: none !important;
      padding: 0px;
      width: 42px;
      cursor: pointer;
      color: #fff; }
  
      .news_widget .list li {
        margin-right: 10px;
        display: inline-block; }  
  /* End Footer Area css
  ============================================================================================ */
  

  
.banner_area {
    position: relative;
    z-index: 1;
    min-height: 400px; }
    .banner_area .banner_inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 400px;
      background: #3bacf0;
      z-index: 1; }
      .banner_area .banner_inner .banner_content {
        margin-top: 70px; }
        .banner_area .banner_inner .banner_content h2 {
          color: #fff;
          font-size: 36px;
          font-family: "Heebo", sans-serif;
          margin-bottom: 0px;
          text-transform: uppercase;
          font-weight: bold; }
        .banner_area .banner_inner .banner_content .page_link a {
          font-size: 14px;
          color: #fff;
          font-family: "Roboto", sans-serif;
          margin-right: 32px;
          position: relative; }
          .banner_area .banner_inner .banner_content .page_link a:before {
            content: "\e87a";
            font-family: 'Linearicons-Free';
            font-size: 14px;
            position: absolute;
            right: -25px;
            top: 54%;
            transform: translateY(-50%); }
          .banner_area .banner_inner .banner_content .page_link a:last-child {
            margin-right: 0px; }
            .banner_area .banner_inner .banner_content .page_link a:last-child:before {
              display: none; }
  
/*============== contact_area css ================*/
.mapBox {
    height: 420px;
    margin-bottom: 80px; }
  
  .contact_info .info_item {
    position: relative;
    padding-left: 45px; }
    .contact_info .info_item i {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 20px;
      line-height: 24px;
      color: #3bacf0;
      font-weight: 600; }
    .contact_info .info_item h6 {
      font-size: 16px;
      line-height: 24px;
      color: "Roboto", sans-serif;
      font-weight: bold;
      margin-bottom: 0px;
      color: #222222; }
      .contact_info .info_item h6 a {
        color: #222222; }
    .contact_info .info_item p {
      font-size: 14px;
      line-height: 24px;
      padding: 2px 0px; }
  
  .contact_form .form-group {
    margin-bottom: 10px; }
    .contact_form .form-group .form-control {
      font-size: 13px;
      line-height: 26px;
      color: #999;
      border: 1px solid #eeeeee;
      font-family: "Roboto", sans-serif;
      border-radius: 0px;
      padding-left: 20px; }
      .contact_form .form-group .form-control:focus {
        box-shadow: none;
        outline: none; }
      .contact_form .form-group .form-control.placeholder {
        color: #999; }
      .contact_form .form-group .form-control:-moz-placeholder {
        color: #999; }
      .contact_form .form-group .form-control::-moz-placeholder {
        color: #999; }
      .contact_form .form-group .form-control::-webkit-input-placeholder {
        color: #999; }
    .contact_form .form-group textarea {
      resize: none; }
      .contact_form .form-group textarea.form-control {
        height: 140px; }
  .contact_form .submit_btn {
    margin-top: 20px;
    cursor: pointer; }
  /* Contact Success and error Area css
  ============================================================================================ */
  .modal-message .modal-dialog {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    margin: 0px;
    max-width: 500px;
    width: 100%; }
    .modal-message .modal-dialog .modal-content .modal-header {
      text-align: center;
      display: block;
      border-bottom: none;
      padding-top: 50px;
      padding-bottom: 50px; }
      .modal-message .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        right: -15px;
        top: -15px;
        padding: 0px;
        color: #fff;
        opacity: 1;
        cursor: pointer; }
      .modal-message .modal-dialog .modal-content .modal-header h2 {
        display: block;
        text-align: center;
        color: #3bacf0;
        padding-bottom: 10px;
        font-family: "Roboto", sans-serif; }
      .modal-message .modal-dialog .modal-content .modal-header p {
        display: block; }
  
  /* End Contact Success and error Area css
  ============================================================================================ */

  .submit_btn {
    width: auto;
    display: inline-block;
    background-image: linear-gradient(to right, #4dabff 0%, #62ddff 48%, #4dabff 100%);
    background-size: 200% auto;
    padding: 0px 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear 0s; }
    .submit_btn:hover {
      background-position: right center;
      color: #fff; }