<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><img src="../../assets/imgs/SpecLocal.png" alt="logo" width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link btn btn-warning px-5" routerLink="/login">LOGIN</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->

<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>CONTACT US</h2>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area p_120">
  <div class="container">
    <div class="row my-5 py-5">
      <div class="col-lg-8 offset-lg-2">
        <form class="row contact_form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contactForm">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" formControlName="name" class="form-control" id="name" name="name"
                placeholder="Enter your name" [ngClass]="{ 'invalid-input': submitted && f.name.errors }">
            </div>
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" id="email" name="email"
                placeholder="Enter email address" [ngClass]="{ 'invalid-input': submitted && f.email.errors }">
            </div>
            <div class="form-group">
              <input type="text" formControlName="subject" class="form-control" id="subject" name="subject"
                placeholder="Enter Subject" [ngClass]="{ 'invalid-input': submitted && f.subject.errors }">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea class="form-control" formControlName="message" name="message" id="message" rows="1"
                placeholder="Enter Message" [ngClass]="{ 'invalid-input': submitted && f.message.errors }"></textarea>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button type="submit" value="submit" class="btn submit_btn">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area p_120">
  <div class="container">
    <div class="row footer_inner py-5">
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Products</h3>
          </div>
          <ul class="p-0" style="list-style-type: none;">
            <li class="">
              <a class="" routerLink="/contact">Platform</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Reviews</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Feedback</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Reviews</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Multi-Location</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Customer Insights</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Customer Management</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Review Analytics</a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-5 col-sm-6">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Company</h3>
          </div>
          <ul class="p-0" style="list-style-type: none;">
            <li class="">
              <a class="" routerLink="/contact">About Us</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Careers</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Partners</a>
            </li>
            <li>
              <a class="" routerLink="/contact">Contact Us</a>
            </li>            
          </ul>
        </aside>
      </div>
      <div class="col-lg-2">
        <aside class="f_widget news_widget">
          <div class="f_title">
            <h3>Follow Us</h3>
          </div>
          <p>Let us be social</p>
          <ul class="p-0 list" style="list-style-type: none;">
            <li><a routerLink="/contact"><img src="../../assets/imgs/fb.png" alt="facebook"></a></li>
            <li><a routerLink="/contact"><img src="../../assets/imgs/twitter.png" alt="twitter"></a></li>
            <li><a routerLink="/contact"><img src="../../assets/imgs/dribble.png" alt="dribble"></a></li>
            <li><a routerLink="/contact"><img src="../../assets/imgs/behance.png " alt="behance"></a></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-12 text-center text-white">
        © SpecSavi Technologies Pvt Ltd. 2019 | <a routerLink="terms">Terms & Condition</a> | <a
          routerLink="/privacypolicy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->



<!--================Contact Success and Error message Area =================-->
<div id="success" class="modal modal-message fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
        <h2>Thank you</h2>
        <p>Your message is successfully sent...</p>
      </div>
    </div>
  </div>
</div>

<!-- Modals error -->

<div id="error" class="modal modal-message fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
        <h2>Sorry !</h2>
        <p> Something went wrong </p>
      </div>
    </div>
  </div>
</div>
<!--================End Contact Success and Error message Area =================-->