.alert-window {
    z-index: 2000;
    position: fixed;    
    bottom: 10px;          
    margin-left: auto;
    margin-right: auto;    
    border-radius: 5px;
    background-color: white;
    min-width: 300px;    
}
.alert {
    margin: 0;
    display: flex;
    align-items: center;
}
.internal{
    display: inline-block;
}
 
