<div class="row justify-content-center text-center ml-auto mr-auto">
  <div *ngIf="message" class="alert-window fadeInDown">
    <div *ngIf="message" class="internal" role="alert" [ngClass]="{ 'alert alert-dismissible fade show': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error', 'alert-warning': message.type === 'warning' }">
      <h5 class="font-weight-bold">{{message.text}}</h5>
      <button type="button" class="close" (click) = "clearMessage()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
