.metric-display {
    width: 300px;
    box-shadow: 0 0 5px grey;
    background: white;
}
.card{
    display: flexbox;
    /* width: 350px !important; */
    height: 230px !important;
}
.wifiCss{
    transform: rotate(40deg);
    /* border-radius: 50% !important; */
}
