<!-- facebook Analytics -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center p-5">
      <img src="../../../assets/imgs/FB-Analytics.jpg" style="max-width: 100%; height: 150px" alt="">
    </div>
  </div>
  <div class="row bg-light border-bottom pb-3 pt-2 shadow-sm">
    <div class="col-md-9 col-sm-9 mt-2 ">
      <div class="form-inline">
        <h5 class="mr-4 font-weight-normal">Page Summary : </h5>
        <select class="form-control" id="exampleFormControlSelect" [(ngModel)]='datePreset'
          (change)='chagePreset($event)'
        >
          <option value='last_7d'>7 Days</option>
          <option value='last_14d'>14 Days</option>
          <option value='last_28d'>28 Days</option>          
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 mt-1">
      <div class="float-right">
        <span>
          <a href="#">Export Data <i class="fas fa-download"></i></a>
        </span>
      </div>
    </div>
  </div>
  <div class="row bg-light border-bottom pb-3 pt-2 shadow-sm">
    <div class="col-md-10 col-sm-12 mt-2 ">
      <div class="form-inline">
        <!-- <h5 class="mr-4 font-weight-normal">Page Summary : </h5> -->
        <!-- <h6>Results from 12 Aug 2019-18 Aug 2019</h6> -->
        <p>Note: Does not include today's data. Insights activity is reported in the Pacific time zone. Ads activity is
          reported in the time zone of your ad account.
        </p>
      </div>

    </div>
    <!-- <div class="col-md-2 col-sm-12 ">
      <span class="sqaureIcon">
        <span style="color: blue"><i class="fas fa-square"></i></span> Organic <span style="color: blueviolet"><i
            class="fas fa-square ml-2"></i></span> Paid
      </span>
    </div> -->
  </div>


  <div class="row bg-light p-5 shadow-sm">
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow border-light">
        <div class="card-body">
          <h5 class="card-title">Actions On Page <span class="float-right"><i class="fas fa-info-circle"></i></span>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='action_on_page == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='action_on_page != 0'>
            <h1 class="card-text">{{action_on_page}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow bg-light border-white">
        <div class="card-body ">
          <h5 class="card-title">Page Views <span class="float-right"><i class="fas fa-info-circle"></i></span></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='page_views == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='page_views != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{page_views}}
            </p>
            <p>Total Page Views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow bg-light border-white">
        <div class="card-body">
          <h5 class="card-title">Page Likes <span class="float-right"><i class="fas fa-info-circle"></i></span>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center" *ngIf='page_likes == 0'>
            <p class="card-text p-4"><i class="fas fa-thumbs-up fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='page_likes != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{page_likes}}
            </p>
            <p>Total Page Likes</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light p-5 shadow-sm">
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow  border-light">
        <div class="card-body ">
          <h5 class="card-title">Post Reach<span class="float-right"><i class="fas fa-info-circle"></i></span></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='post_reach == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='post_reach != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{post_reach}}
            </p>
            <h6>Peaple Reached</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow bg-light border-white">
        <div class="card-body">
          <h5 class="card-title">Story Reach <span class="float-right"><i class="fas fa-info-circle"></i></span></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='stoey_reach == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='stoey_reach != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{stoey_reach}}
            </p>
            <p>Total Story Reached</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow bg-light border-white">
        <div class="card-body">
          <h5 class="card-title">Recommendations <span class="float-right"><i class="fas fa-info-circle"></i></span>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4">
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-light p-5 shadow-sm">
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow border-light ">
        <div class="card-body ">
          <h5 class="card-title">Page Engagements<span class="float-right"><i class="fas fa-info-circle"></i></span>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='page_engagement == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='page_engagement != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{page_engagement}}
            </p>
            <p>Total Page Engagement</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow border-light">
        <div class="card-body">
          <h5 class="card-title">Videos <span class="float-right"><i class="fas fa-info-circle"></i></span>
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='videos == 0'>
            <p class="card-text"><i class="far fa-calendar-alt fa-5x"></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='videos != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{videos}}
            </p>
            <p>
              The average time, in milliseconds, people viewed your videos.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xm-12 mt-1">
      <div class="card shadow  bg-light border-white">
        <div class="card-body ">
          <h5 class="card-title">Page Followers<span class="float-right"><i class="fas fa-info-circle"></i></span></h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">11 Aug - 17 Aug</h6> -->
          <div class="text-center p-4" *ngIf='total_follower == 0'>
            <p class="rounded-circle bg-light"><i class="fas fa-wifi fa-5x  "></i></p>
            <p>We have insufficient data to show for the selected time period.</p>
          </div>
          <div class="text-center p-4" *ngIf='total_follower != 0'>
            <p class="card-text" style="font-size: xx-large;">
              {{total_follower}}
            </p>
            <p>
              Total Follower To Page
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>