<!-- <button class="btn btn-lg btn-primary mx-1" routerLink="/home/campaign">MY CAMPAIGNS</button>
<button class="btn btn-lg btn-outline-primary mx-1" routerLink="/home/campaign/add">ADD CAMPAIGNS</button> -->
<h5 class="text-center font-weight-bold my-3">MY CAMPAIGNS</h5>
<div class="table-responsive my-3">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Created_date</th>
        <th scope="col">Message</th>
        <th scope="col">Customers List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campaign of campaigns; let i = index;">
        <th scope="row">{{campaign.id}}</th>
        <td style="width: 20%">{{campaign.createdat | date:'medium'}}</td>
        <td class="text-left">{{campaign.message}}</td>
        <td style="width: 20%"><button type="button" class="btn btn-primary" (click)="viewList(viewlist,campaign.customers)">View
            List</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" [ngModelOptions]="{standalone: true}">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>


<ng-template #viewlist let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Customers List</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive" style="max-height: 300px;overflow-y: scroll;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Country Code</th>
            <th scope="col">Phone No</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of viewCustomerList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ customer.name }}
            </td>
            <td>{{ customer.dialCode }}</td>
            <td>{{ customer.phoneno }}</td>
            <td>{{ customer.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>