<div class="container-fluid">
  <div class="row py-4">
    <div class="col-md-12 px-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-sms-tab" data-toggle="tab" href="#nav-sms" role="tab"
            aria-controls="nav-sms" aria-selected="false" *ngIf="sms"><i class="fas fa-sms">
            </i> SMS</a>

          <a class="nav-item nav-link" id="nav-socialmedia-tab" data-toggle="tab" href="#nav-socialmedia" role="tab"
            aria-controls="nav-socialmedia" aria-selected="false">
            <i class="fas fa-comment">
            </i> SOCIAL MEDIA</a>
        </div>
      </nav>
    </div>
    <div class="col-md-12 p-3">
      <div class="tab-content" id="nav-tabContent">
        <!-- SMS -->
        <div class="tab-pane fade p-3  " [ngClass]="{'active show': sms}" id="nav-sms" role="tabpanel"
          aria-labelledby="nav-sms-tab">
          <div class="row my-3">
            <div class="col-md-12">
              <h5 class="text-center font-weight-bold m-4">SMS CAMPAIGNING</h5>
              <ul class="nav nav-tabs">
                <li class="nav-item csstab">
                  <a class="nav-link active show" [routerLinkActive]="['active','show']"
                    routerLink="/home/campaign/add"><i class="fas fa-user"></i> ADD CAMPAIGN</a>
                </li>
                <li class="nav-item csstab">
                  <a class="nav-link " [routerLinkActive]="['active', 'show']"
                    routerLink="/home/campaign/mycampaigns"><i class="fas fa-user-plus"></i> MY
                    CAMPAIGNS</a>
                </li>

              </ul>
              <div class="tab-content ">

                <router-outlet></router-outlet>

              </div>
            </div>
          </div>
        </div>
        <!-- Social media -->
        <div class="tab-pane fade p-3" [ngClass]="{'active show': !sms}" id="nav-socialmedia" role="tabpanel"
          aria-labelledby="nav-socialmedia-tab">
          <!-- *ngIf='googleService.connectedWithGoogle || fbService.connectedWithFacebook' -->
          <div class="row p-4 vertical-center"
            *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
            <div class="col-md-12 px-0">
              <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
                <div class="m-1 p-4 border"
                  *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
                  <img src="../../../assets/imgs/warning-icon.png" alt="warning" width="50px" height="50px">
                  <h5 class="m-2">NOT CONNECTED WITH ANY SOCIAL MEDIA PLATFORM</h5>
                  <a routerLink="/home/settings" class="btn btn-primary">Connect Now</a>
                </div>
              </div>
            </div>
            <ngx-ui-loader></ngx-ui-loader>
          </div>
          <div class="form-row m-3 p-3 border rounded-pill w-50 socialmediacss"
            *ngIf='googleService.connectedWithGoogle || fbService.connectedWithFacebook'>
            <div class="form-check m-auto">
              <input class="form-check-input" type="radio" name="socialcampaigning" id="google"
                (click)="selectSocialCampaigningMode('google')" [disabled]="!googleService.connectedWithGoogle">
              <label class="form-check-label" for="google">
                Google
              </label>
            </div>
            <div class="form-check m-auto">
              <input class="form-check-input" type="radio" name="socialcampaigning" id="facebook"
                (click)="selectSocialCampaigningMode('facebook')" [disabled]="!fbService.connectedWithFacebook">
              <label class="form-check-label" for="facebook">
                Facebook
              </label>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-12" *ngIf="socialcampaigningmode == 'google'">
              <h5 class="text-center font-weight-bold m-4">SOCIAL MEDIA CAMPAIGNING</h5>
              <div class="post-social-media-wrapper">
                <h5 class="text-center font-weight-bold m-4">POST ON GOOGLE</h5>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active"(click)="removeImg()" id="nav-cta-tab" data-toggle="tab" href="#nav-cta" role="tab"
                      aria-controls="nav-cta" aria-selected="false"><i class="fas fa-location-arrow"></i> Call To Action (CTA) Post</a>
                    <a class="nav-item nav-link" (click)="removeImg()" id="nav-event-tab" data-toggle="tab" href="#nav-event" role="tab"
                      aria-controls="nav-event" aria-selected="true"><i class="fas fa-calendar-week"></i> Event Post</a>
                    <a class="nav-item nav-link" (click)="removeImg()" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab"
                      aria-controls="nav-offer" aria-selected="false"><i class="fas fa-tags"></i> Offer Post</a>
                    <a class="nav-item nav-link" (click)="removeImg()" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab"
                      aria-controls="nav-product" aria-selected="false"><i class="fas fa-shopping-cart"></i> Product Post</a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active p-3 post-form-wrapper" id="nav-cta" role="tabpanel"
                    aria-labelledby="nav-cta-tab">
                    <form [formGroup]="ctaPostForm" (ngSubmit)="postCtaPost()">
                      <div class="form-group">
                        <label for="summary">Post Text<span class="required">*</span></label>
                        <textarea formControlName="summary" class="form-control" id="summary" rows="3"
                          placeholder="Write something here..."
                          [ngClass]="{'input-required': submittedCtaPostForm && cta.summary.errors }"></textarea>
                      </div>
                      <div formGroupName="callToAction">
                        <div class="form-group">
                          <label for="cta">Add Call To Action (CTA) Button <span
                              class="required">(optional)</span></label>
                          <select formControlName="actionType" class="form-control" id="cta">
                            <option value="" selected>None</option>
                            <option value="BOOK">Book</option>
                            <option value="ORDER">Order</option>
                            <option value="SHOP">Shop</option>
                            <option value="LEARN_MORE">Learn_more</option>
                            <option value="SIGN_UP">Sign_up</option>
                            <option value="CALL">Call</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="cta-link">Link For CTA Button <span class="required">(required if CTA button
                              added)</span></label>
                          <input formControlName="url" type="text" class="form-control" id="cta-link"
                            placeholder="www.example.com"
                            [ngClass]="{'input-required': submittedCtaPostForm && cta.callToAction['controls'].url.errors }">
                        </div>
                      </div>
                      <div class="imgCssgoogle" *ngIf="image">
                        <img [src]="image" width="150px" height="150px" *ngIf="image?true:false" class="border">
                        <span class="close rounded-circle" (click)="removeImg()">&times;</span>
                      </div>
                      <div class="form-group mt-2" formGroupName="media">
                        <input type="file" #imageSelect formControlName="sourceUrl" name="file" ng2FileSelect [uploader]="uploader" />
                        <button type="button" class="btn btn-primary btn-s" (click)="uploader.uploadAll()"
                          [disabled]="!filename.length">
                          Upload Image
                        </button>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary">PUBLISH</button>
                    </form>
                  </div>


                  <div class="tab-pane fade p-3" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
                    <form [formGroup]="eventPostForm" (ngSubmit)="postEventPost()">
                      <div formGroupName="event">
                        <div class="form-group">
                          <label for="event-title">Event Title<span class="required">*</span></label>
                          <input formControlName="title" type="text" class="form-control" id="event-title"
                            [ngClass]="{'input-required': submittedEventPostForm && event.event['controls'].title.errors }">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="dp3">Start Date<span class="required">*</span></label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="dp3"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" ngbDatepicker
                                #d3="ngbDatepicker"
                                [ngClass]="{'input-required': submittedEventPostForm && !startDate }">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()"
                                  type="button"><i class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dp4">End Date<span class="required">*</span></label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="dp4"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" ngbDatepicker
                                #d4="ngbDatepicker" [ngClass]="{'input-required': submittedEventPostForm && !endDate }">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d4.toggle()"
                                  type="button"><i class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="dp1">Start Time <span class="required">(optional)</span></label>
                            <ngb-timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"
                              [meridian]="meridian">
                            </ngb-timepicker>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dp2">End Time <span class="required">(optional)</span></label>
                            <ngb-timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"
                              [meridian]="meridian">
                            </ngb-timepicker>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="summary">Event Details<span class="required">*</span></label>
                        <textarea formControlName="summary" class="form-control" id="summary" rows="3"
                          [ngClass]="{'input-required': submittedEventPostForm && event.summary.errors }">
                                  </textarea>
                      </div>
                      <div formGroupName="callToAction">
                        <div class="form-group">
                          <label for="cta">Add Call To Action (CTA) Button <span
                              class="required">(optional)</span></label>
                          <select formControlName="actionType" class="form-control" id="cta">
                            <option value="" selected>None</option>
                            <option value="BOOK">Book</option>
                            <option value="ORDER">Order</option>
                            <option value="SHOP">Shop</option>
                            <option value="LEARN_MORE">Learn_more</option>
                            <option value="SIGN_UP">Sign_up</option>
                            <option value="CALL">Call</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="cta-link">Link For CTA Button <span class="required">(required if CTA button
                              added)</span></label>
                          <input formControlName="url" type="text" class="form-control" id="cta-link"
                            placeholder="www.example.com"
                            [ngClass]="{'input-required': submittedEventPostForm && event.callToAction['controls'].url.errors }">
                        </div>
                      </div>
                      <div class=" imgCssgoogle" *ngIf="image">
                        <img [src]="image" width="150px" height="150px" *ngIf="image?true:false" class="border">
                        <span class="close" (click)="removeImg()">&times;</span>
                      </div>
                      <div class="form-group" formGroupName="media">
                        <input type="file" #imageSelect formControlName="sourceUrl" name="file" ng2FileSelect [uploader]="uploader" />
                        <button type="button" class="btn btn-primary btn-s" (click)="uploader.uploadAll()"
                          [disabled]="!filename.length">
                          Upload Image
                        </button>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary">PUBLISH</button>
                    </form>
                  </div>


                  <div class="tab-pane fade p-3" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">
                    <form [formGroup]="offerPostForm" (ngSubmit)="postOfferPost()">
                      <div formGroupName="event">
                        <div class="form-group">
                          <label for="offer-title">Offer Title<span class="required">*</span></label>
                          <input formControlName="title" type="text" class="form-control" id="offer-title"
                            [ngClass]="{'input-required': submittedOfferPostForm && offer.event['controls'].title.errors }">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="dp1">Start Date<span class="required">*</span></label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="dp1"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" ngbDatepicker
                                #d1="ngbDatepicker"
                                [ngClass]="{'input-required': submittedOfferPostForm && !startDate }">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                  type="button"><i class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dp2">End Date<span class="required">*</span></label>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="dp2"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" ngbDatepicker
                                #d2="ngbDatepicker" [ngClass]="{'input-required': submittedOfferPostForm && !endDate }">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                  type="button"><i class="far fa-calendar-alt"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="dp1">Start Time <span class="required">(optional)</span></label>
                            <ngb-timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"
                              [meridian]="meridian">
                            </ngb-timepicker>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="dp2">End Time <span class="required">(optional)</span></label>
                            <ngb-timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"
                              [meridian]="meridian">
                            </ngb-timepicker>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="summary">Offer Details<span class="required">*</span></label>
                        <textarea formControlName="summary" class="form-control" id="summary" rows="3"
                          [ngClass]="{'input-required': submittedOfferPostForm && offer.summary.errors }">
                              </textarea>
                      </div>
                      <div formGroupName="offer">
                        <div class="form-group">
                          <label for="coupon-code">Coupon Code <span class="required">(optional)</span></label>
                          <input formControlName="couponCode" type="text" class="form-control" id="coupon-code">
                        </div>
                        <div class="form-group">
                          <label for="redeem-url">Redeem Online Url <span class="required">(optional)</span></label>
                          <input formControlName="redeemOnlineUrl" type="text" class="form-control" id="redeem-url">
                        </div>
                        <div class="form-group">
                          <label for="terms-conditions">Terms & Conditions <span
                              class="required">(optional)</span></label>
                          <input formControlName="termsConditions" type="text" class="form-control"
                            id="terms-conditions">
                        </div>
                      </div>
                      <div class=" imgCssgoogle" *ngIf="image">
                        <img [src]="image" width="150px" height="150px" *ngIf="image?true:false" class="border">
                        <span class="close" (click)="removeImg()">&times;</span>
                      </div>
                      <div class="form-group" formGroupName="media">
                        <input type="file" #imageSelect formControlName="sourceUrl" name="file" ng2FileSelect [uploader]="uploader" />
                        <button type="button" class="btn btn-primary btn-s" (click)="uploader.uploadAll()"
                          [disabled]="!filename.length">
                          Upload Image
                        </button>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary">PUBLISH</button>
                    </form>
                  </div>


                  <div class="tab-pane fade p-3" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
                    <form [formGroup]="productPostForm" (ngSubmit)="postProductPost()">
                      <div formGroupName="product">
                        <div class="form-group">
                          <label for="product-name">Product Name<span class="required">*</span></label>
                          <input formControlName="productName" type="text" class="form-control" id="product-name"
                            [ngClass]="{'input-required': submittedProductPostForm && product.product['controls'].productName.errors }">
                        </div>
                        <div class="form-row">
                          <div formGroupName="lowerPrice" class="col-md-6">
                            <div class="form-group">
                              <label for="lower-price">Lower Price (INR)<span class="required">*</span></label>
                              <input formControlName="units" type="number" class="form-control" id="lower-price"
                                [ngClass]="{'input-required': submittedProductPostForm && product.product['controls'].lowerPrice['controls'].units.errors }">
                            </div>
                          </div>
                          <div formGroupName="upperPrice" class="col-md-6">
                            <div class="form-group">
                              <label for="upper-price">Upper Price (INR)<span class="required">*</span></label>
                              <input formControlName="units" type="number" class="form-control" id="upper-price"
                                [ngClass]="{'input-required': submittedProductPostForm && product.product['controls'].upperPrice['controls'].units.errors }">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="summary">Product Details<span class="required">*</span></label>
                        <textarea formControlName="summary" class="form-control" id="summary" rows="3"
                          [ngClass]="{'input-required': submittedProductPostForm && product.summary.errors }"></textarea>
                      </div>
                      <div formGroupName="callToAction">
                        <div class="form-group">
                          <label for="cta">Add Call To Action (CTA) Button <span
                              class="required">(optional)</span></label>
                          <select formControlName="actionType" class="form-control" id="cta">
                            <option value="" selected>None</option>
                            <option value="BOOK">BOOK</option>
                            <option value="ORDER">ORDER</option>
                            <option value="SHOP">SHOP</option>
                            <option value="LEARN_MORE">LEARN_MORE</option>
                            <option value="SIGN_UP">SIGN_UP</option>
                            <option value="CALL">CALL</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="cta-link">Link For CTA Button <span class="required">(required if CTA button
                              added)</span></label>
                          <input formControlName="url" type="text" class="form-control" id="cta-link"
                            placeholder="www.example.com"
                            [ngClass]="{'input-required': submittedProductPostForm && product.callToAction['controls'].url.errors }">
                        </div>
                      </div>
                      <div class="imgCssgoogle" *ngIf="image">
                        <img [src]="image" width="150px" height="150px" *ngIf="image?true:false" class="border">
                        <span class="close" (click)="removeImg()">&times;</span>
                      </div>
                      <div class="form-group" formGroupName="media"
                        [ngClass]="{'input-required': submittedProductPostForm && product.media['controls'].sourceUrl.errors }">
                        <input type="file" #imageSelect formControlName="sourceUrl" name="file" ng2FileSelect [uploader]="uploader" />
                        <button type="button" class="btn btn-primary btn-s" (click)="uploader.uploadAll()"
                          [disabled]="!filename.length">
                          Upload Image
                        </button>
                      </div>
                      <button type="submit" class="btn btn-lg btn-primary">PUBLISH</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12" *ngIf="socialcampaigningmode == 'facebook'">
              <h5 class="text-center font-weight-bold m-4">SOCIAL MEDIA CAMPAIGNING</h5>
              <div class="post-social-media-wrapper">
                <h5 class="text-center font-weight-bold m-4">POST ON FACEBOOK</h5>
                <form [formGroup]="facebookPostForm" (ngSubmit)="postOnFacebook()">
                  <div class="form-group">
                    <label for="message">Post Text<span class="required">*</span></label>
                    <textarea formControlName="message" class="form-control" id="message" rows="5"
                      placeholder="Write something here..."
                      [ngClass]="{'input-required': submittedFacebookPostForm && fb.message.errors }"></textarea>
                  </div>
                  <div class="p-2" *ngIf="images.length != 0">
                    <div *ngFor="let img of images   let i = index" class="imgCss">
                      <img [src]="img" width="150px" height="150px" class="border ">
                      <span class="close btn btn-outline-secondary" (click)="removeimg(i)">&times;</span>
                    </div>


                  </div>
                  <div class="form-group">
                    <input type="file" #imageSelect name="file" ng2FileSelect [uploader]="uploader" multiple />
                    <!-- <input type="file" #imageSelect name="file" ng2FileSelect [uploader]="uploader" /> -->


                    <button type="button" class="btn btn-primary btn-s mt-1" (click)="uploader.uploadAll()"
                      [disabled]="!uploader.getNotUploadedItems().length">
                      Upload Image
                    </button>
                    <div class="" *ngIf="filenames.length != 0">
                      <div class="fileList" *ngFor="let filename of filenames   let i = index">

                        <p class="filename font-weight-normal">
                          <span class=""> {{i + 1}} .</span> {{filename}}
                        </p>

                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary">PUBLISH</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>