.required{
    color: red;
}

.input-required {
    border: 1px solid red;
}

.post-social-media-wrapper {
    /* width: 100%; */
    /* height: 100%; */
    /* display: block; */
    border: 1px solid lightgrey;
    padding: 10px;
}
 .socialmediacss{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
.csstab{
    width: 50%;
}
/* .imgCss{
    position: relative;
    width: 25% ;
    left: 50%;
    top: 70%;
    transform: translate(-50% , -0%)
} */

.imgCss {
    width: 180px;
    height : 180px;
    overflow: hidden;
    
    /* border: 2px solid Black; */
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background:white;
    display: inline-block;
    /* box-shadow: 5px 5px 2px #888888; */
    position: relative;
 
  }

  .imgCssgoogle {
    width: 180px;
    height : 180px;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    background:white;
    display: block;
    position: relative;
  
  }

.close{
    position: absolute !important;
    border: 1px gray solid;
    background-color: black !important;
    color: white!important;
    top: 6px !important;
    right: 6px !important;
    border-radius: 50% !important;
    padding: 1px 4px;
    z-index: 1 !important;
}
.close:hover{
    cursor: pointer;
    background-color:white !important;
    color: black !important;
    border: 1px gray solid;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  .fileList{
    display: inline-block !important;
   
    display: flex;
    flex-direction: row;
  }
  .filename{
    /* width: 50px;
    height: 50px; */
    font-size: 15px;
    margin-left: 10px !important
  }

  .nav-link{
    color: black !important
  }
  .nav-link.active{
    color: navy !important;
    font-weight: bold
  }