<!-- <button class="btn btn-lg btn-outline-primary mx-1" routerLink="/home/campaign">MY CAMPAIGNS</button>
<button class="btn btn-lg btn-primary mx-1" routerLink="/home/campaign/add">ADD CAMPAIGNS</button> -->
<!-- <div>
  <h5 class="text-center my-5" style="color: red;font-weight: bold;">NOTE: SMS CAMPAIGNING CAN BE DONE WITHIN 9 AM TO 9 PM ONLY</h5>
</div> -->
<div class="my-3 p-3 border">
  <form [formGroup]="addCampaignForm" (ngSubmit)="addCampaign()" #addCampaignForm2="ngForm">
    <div class="form-group">
      <label for="message-type"><b>Campaign Message Type</b></label>
      <select formControlName="messagetype" class="form-control form-control-lg" id="message-type"
        [ngClass]="{'invalid-input': submitted && campaign.messagetype.errors}">
        <option [value]='template.templatename' *ngFor='let template of templates'>{{template.templatename}}</option>
        <option value="own">Custom</option>
      </select>
    </div>
    <div class="form-group">
      <div class="form-group ">
        <b class="d-inline-block"> Greeting : &nbsp;&nbsp;&nbsp;</b>
        <input type="text" class="form-control col-md-2 d-inline-block"
          [ngClass]="{'invalid-input': submitted && campaign.message.errors}" formControlName='greeting'>
      </div>
      <label for="message">
        <b>Message <span class="required">(Note: Modify as per need(Date,Time,Address,Link and Number). 1 message credit per 160 characters per customer
            will be deducted.)</span> </b>
      </label>
      <textarea formControlName="message" class="form-control" id="message" rows="3"
        [ngClass]="{'invalid-input': submitted && campaign.message.errors}"></textarea>
      <!-- <p class="text-right my-2 text-success"><b>{{ campaign.message.value.length }} / {{ msgDeductCount() }}</b></p> -->
    </div>
    <div class="" *ngIf="templateType == 'own' && customTemplateFlag == true">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="save" (change)="saveTemplate(isSaveTemplate)">
        <label class="form-check-label" for="save" class="text-success"><b>Save as Template<span class="required">* Note(To send custom template first save template by entering  name and press enter.)</span></b></label>
      </div>
      <div class="form-group mr-2" *ngIf="isSaveTemplate">
        <!-- <label for="templateName">Template Name</label> -->
        <input type="text" formControlName="templatename" class="form-control" id="templateName" maxlength="30"
          placeholder="Enter Template Name" [ngClass]="{'invalid-input': submitted && campaign.templatename.errors}"
          (keydown)="saveTemplatetoDB($event)">
      </div>
    </div>

    <!-- <button type="submit" class="btn btn-lg btn-primary">ADD CAMPAIGN</button> -->
  </form>
  <label><b>Select Customers</b></label>
  
  <div class="table-responsive">
    <div class="table-responsive">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">
              <input type="checkbox" (click)='selectAll(isAll)' id='selectAllCheckbox'>
            </th>
            <th>
              #
            </th>
            <th scope="col" style="text-align: left">Customer Name</th>
            <th scope="col">Phone No</th>
            <th scope="col" style="text-align: left">Email</th>
            <th scope="col" style="text-align: left">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor='let customer of campaignCustomers| paginate: { itemsPerPage: itemsPerPage, currentPage: p } ; let i = index' (change)='change(i)'>
            <!-- {{customer | json}} -->
            <td>
              <input type="checkbox" [checked]='campaignCustomers[absoluteIndex(i)].selected'>
            </td>
            <td>
              {{absoluteIndex(i)+1}}
            </td>
            <td style="text-align: left">
              {{customer.name}}
            </td>
            <td>
              {{customer.phoneno}}
            </td>
            <td style="text-align: left">
              {{customer.email}}
            </td>
            <td style="text-align: left">
              {{customer.address}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
      <pagination-controls (pageChange)="page = $event;pageChanged($event)"  directionLinks="true">
      </pagination-controls>
      <select class="custom-select" style="width: auto" [(ngModel)]="itemsPerPage">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="30">30 items per page</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-lg btn-primary" style="margin-right: 1%;" (click)='addCampaign()'>SEND
    MESSAGE</button>
  <!-- <button type="button" class="btn btn-lg btn-primary" (click)="broadCastMessage()">SEND MESSAGE TO ALL</button> -->
</div>