.terms{
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

ol{
    list-style-type: upper-roman;
}
ol li{
    font-weight: bold;
}
.terms p{
    text-align: justify;
    font-weight: normal;
}