<form [formGroup]='profileForm' (ngSubmit)='updateProfile()'>
  <!-- <h5 class="text-center">Profile Settings</h5> -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" formControlName='firstname' class="form-control form-control-lg" placeholder="First Name"
      [ngClass]="{'invalid-input': submittedProfile && p.firstname.errors }">
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" formControlName='lastname' class="form-control form-control-lg" placeholder="Last Name"
      [ngClass]="{'invalid-input': submittedProfile && p.lastname.errors }">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Email Id</label>
      <input type="text" formControlName='email' class="form-control form-control-lg" placeholder="Email"
      [ngClass]="{'invalid-input': submittedProfile && p.email.errors }">
    </div>
    <div class="form-group col-md-6">
      <label>Contact Number</label>
      <input type="text" formControlName='contactno' class="form-control form-control-lg" placeholder="Contact Number"
      [ngClass]="{'invalid-input': submittedProfile && p.contactno.errors }">
    </div>
  </div>
  <div class="form-group">
    <label>Business Name</label>
    <input type="text" formControlName='businessname' class="form-control form-control-lg" placeholder="Business Name"
    [ngClass]="{'invalid-input': submittedProfile && p.businessname.errors }">
  </div>
  <button type="submit" class="btn btn-lg btn-success mr-1" *ngIf = "editMode">UPDATE</button>
  <button type="button" class="btn btn-lg btn-success mr-1" *ngIf = "editMode" (click) = "reset()">CANCEL</button>
  <button type="button" class="btn btn-lg btn-success" (click) = "editProfile()" *ngIf = "!editMode">EDIT</button>
</form>