<!-- <div class="col-md-6 py-3 px-0">
<h4>Reviews</h4>
</div> -->
<!-- {{tempgoogleobj | json}} -->
<!-- {{tempfbobj | json}} -->
<div class="container-fluid"
  *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
  <div class="row p-4 vertical-center">
    <div class="col-md-12 px-0">
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
        <div class="m-1 p-4 border"
          *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
          <img src="../../../assets/imgs/warning-icon.png" alt="warning" width="50px" height="50px">
          <h5 class="m-2">NOT CONNECTED WITH ANY SOCIAL MEDIA PLATFORM</h5>
          <a routerLink="/home/settings" class="btn btn-primary">Connect Now</a>
        </div>
      </div>
    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
</div>
<ngx-ui-loader *ngIf='inprocess'></ngx-ui-loader>
<div >
  <div class="container-fluid"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle || zomatoService.connectedWithZomato">
    <div class="row" style="padding-top: 1%;padding-bottom: 1%">
      <div class="col-md-3">
        <div style="display: contents">
          <label for="exampleSelect1">
            <h4>Platform: </h4>
          </label>
          <!-- <select class="form-control" id="exampleSelect1" (change)='selectPlatform($event)'> -->
          <select class="form-control" id="exampleSelect1" (change)='selectPlatform($event)'>
            <option value=''>All</option>
            <option value='fb' *ngIf='fbService.connectedWithFacebook'>Facebook</option>
            <option value='google' *ngIf='googleService.connectedWithGoogle'>Google</option>
            <option value='zomato' *ngIf='zomatoService.connectedWithZomato'>Zomato</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div style="display: contents">
          <label for="exampleSelect1 mr-2">
            <h4>Rating: </h4>
          </label>
          <select class="form-control" id="exampleSelect1" (change)='selectByRating($event)'>
            <option value=''>*-*****</option>
            <option value='ONE'>&#9733;</option>
            <option value='TWO'>&#9733;&#9733;</option>
            <option value='THREE'>&#9733;&#9733;&#9733;</option>
            <option value='FOUR'>&#9733;&#9733;&#9733;&#9733;</option>
            <option value='FIVE'>&#9733;&#9733;&#9733;&#9733;&#9733;</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div style="display: contents">
          <label for="selectdate mr-2">
            <h4>Date: </h4>
          </label>
          <select class="form-control" id="selectdate" (change)='selectByDate($event)'>
            <!-- <select class="form-control" id="exampleSelect1" (change)='selectByRating($event)'> -->
            <option value=''>All</option>
            <option value='seven'>Last 7 Days</option>
            <option value='fifteen'>Last 15 Days</option>
            <!-- <option value='Last 30 Days'></option> -->
          </select>
        </div>
      </div>
      <div class="col-md-3" style="padding-top: 3%">
        <button type="button" class="btn btn-primary mr-2" (click)='reload()'>Apply Filter</button>
        <button type="button" class="btn btn-primary mr-2" (click)='sync()'>Sync Reviews</button>
      </div>
    </div>
    <div class="" *ngIf='!inprocess'>
      <div class=" px-0">
        <div class="d-flex flex-wrap">
          <div style="display: contents;">
            <div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
              [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
              <div class="row">
                <div class="card mb-3 col-md-4 col-sm-4 p-0 border-0" *ngFor='let review of tempArray'>
                  <div class="row no-gutters m-1 border h-100" *ngIf="review.platform == 'fb'">
                    <div class="col-md-12"
                      style="background-image: url('../../../assets/imgs/facebook.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
                      <div class="card-body">
                        <h5 class="card-title">{{review.name}}</h5>
                        <ngb-rating [rate]="review.rating">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">
                              <i class="fas fa-star"></i></span>
                          </ng-template>
                        </ngb-rating>
                        <p class="card-text text-justify pr-2">
                          <span class="badge badge-pill badge-warning">{{review.rating}}</span>
                          {{review.review}}</p>
                        <p class="card-text"><span class="text-muted text-success">{{review.createdon | date}}</span>
                        </p>
                        <a href="https://www.facebook.com/{{review.storyid}}" target="_blank" class="card-link">Reply <i
                            class="fas fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters m-1 border h-100" *ngIf="review.platform == 'google'">
                    <div class="col-md-12"
                      style="background-image: url('../../../assets/imgs/google.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
                      <div class="card-body">
                        <h5 class="card-title">{{review.name}}</h5>
                        <ngb-rating [rate]="review.rating">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">
                              <i class="fas fa-star"></i></span>
                          </ng-template>
                        </ngb-rating>
                        <p class="card-text text-justify pr-2">
                          <span class="badge badge-pill badge-warning">{{review.rating}}</span>
                          {{review.review}}</p>
                        <p class="card-text"><span class="text-muted text-success">{{review.createdon | date}}</span>
                        </p>
                        <a href="#" class="card-link" data-toggle="collapse" href="#{{review.storyid}}" role="button"
                          aria-expanded="false" aria-controls="reply">Reply <i class="fas fa-reply"></i></a>
                        <div class="collapse" id="{{review.storyid}}">
                          <div class="card card-body">
                            <form [formGroup]='googleReplyForm' (ngSubmit)='postGoogleReply(review.name)'>
                              <div class="form-row my-1">
                                <div class="col-12 m-1">
                                  <textarea formControlName='comment' class="form-control" id="replyTextArea"
                                    rows="2"></textarea>
                                </div>
                                <div class="col-12 m-1">
                                  <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <a *ngIf="review.reply!=' '" href="#" class="card-link float-right" data-toggle="collapse"
                          href="#lastreply{{review.storyid}}" role="button" aria-expanded="false"
                          aria-controls="reply">Last
                          Reply</a>
                        <div *ngIf="review.reply!=''" class="collapse" id="lastreply{{review.storyid}}">
                          <p class="card-text text-justify pr-2">
                            {{review.reply}}</p>
                          <p class="card-text"><span
                              class="text-muted text-success float-right">{{returnDate(review.replyupdatetime)}}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters m-1 border h-100" *ngIf="review.platform == 'zomato'">
                    <div class="col-md-12"
                      style="background-image: url('../../../assets/imgs/zomato.png');background-size: 40px 40px; background-position: right top;background-repeat: no-repeat;">
                      <div class="card-body">
                        <h5 class="card-title">{{review.name}}</h5>
                        <ngb-rating [rate]="review.rating">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">
                              <i class="fas fa-star"></i></span>
                          </ng-template>
                        </ngb-rating>
                        <p class="card-text text-justify pr-2">
                          <span class="badge badge-pill badge-warning">{{review.rating}}</span>
                          {{review.review}}</p>
                        <p class="card-text"><span
                            class="text-muted text-success">{{convertUnixToDate(review.createdon) | date}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>