/* NgBootstarp star rating CSS classes */
.star {
    font-size: 1rem;
    color: grey;
}
.star2{
    font-size: 2rem;
    color: grey;
}
.filled {
    color: gold;
}
.bad {
    color: red;
}
.filled.bad {
    color: gold;
}
.full {
    color: red;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}

.container-scrollable {
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.outerDiv{
    display: inline-flex!important;
}

/* .card-text {
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
} */

.card-text {
    height: 4.5em;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

h5{
    font-weight: bold;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }