<!-- Google Analytics -->
<div class="container-fluid">
  <div class="row" *ngIf="googleService.connectedWithGoogle">
    <div class="col-md-12 text-center p-5">
      <!-- <h1>GOOGLE ANALYTICS</h1>
  <p>Insights Of Your Linked Google Location For Last 1 Month</p> -->
      <img src="../../../assets/imgs/gogle_analytics.png" style="max-width: 100%; height: 150px" alt="">
    </div>
    <div class="col-md-12 text-center p-5 bg-light">
      <h3>How Customers Search For Your Business</h3>
      <div class="d-flex flex-row flex-wrap justify-content-center mt-3">
        <div class="m-2 p-5 metric-display">
          <h1>{{ this.googleService.totalSearches}}</h1>
          <!-- <i class="fas fa-search" title="Total Searches"></i> -->
          <h5>Total Searches</h5>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[0]}}</h1>
          <p>{{ ((this.googleService.basic[0])/this.googleService.totalSearches)*100 | number: '1.0-0' }}%</p>
          <h5>Direct</h5>
          <!-- <i class="fas fa-directions" title="Direct"></i> -->
          <p>Customers who find your listing searching for your business name or address</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[1]}}</h1>
          <p>{{ ((this.googleService.basic[1])/this.googleService.totalSearches)*100 | number: '1.0-0' }}%</p>
          <h5>Discovery</h5>
          <p>Customers who find your listing searching for a category, product, or service</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[2]}}</h1>
          <p>{{ ((this.googleService.basic[2])/this.googleService.totalSearches)*100 | number: '1.0-0' }}%</p>
          <h5>Branded</h5>
          <p>Customers who find your listing searching for a brand related to your business</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center p-5">
      <h3>Where Customers View Your Business On Google</h3>
      <p>The Google services that customers use to find your business</p>
      <div class="d-flex flex-row flex-wrap justify-content-center mt-3">
        <div class="m-2 p-5 metric-display">
          <h1>{{ this.googleService.totalViews}}</h1>
          <!-- <i class="fa fa-eye " title="Total Views"></i> -->
          <h5>Total Views</h5>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[3]}}</h1>
          <p>{{ ((this.googleService.basic[3])/this.googleService.totalViews)*100 | number: '1.0-0' }}%</p>
          <h5>Listing On Search</h5>
          <!-- <i class="fas fa-search" title="Listing On Search"></i> -->
          <p>The number of times the resource was viewed on Google Search.</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[4]}}</h1>
          <p>{{ ((this.googleService.basic[4])/this.googleService.totalViews)*100 | number: '1.0-0' }}%</p>
          <h5>Listing On Maps</h5>
          <!-- <i class="fas fa-map-marker-alt" title="Listing On Maps"></i> -->
          <p>The number of times the resource was viewed on Google Maps.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center p-5 bg-light">
      <h3>Customer Actions</h3>
      <p>The most common actions that customers take on your listing</p>
      <div class="d-flex flex-row flex-wrap justify-content-center mt-3">
        <div class="m-2 p-5 metric-display">
          <h1>{{ this.googleService.totalActions}}</h1>
          <h5>Total Actions</h5>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="m-2 p-3 metric-display">in
          <h1>{{ this.googleService.basic[5]}}</h1>
          <p>{{ ((this.googleService.basic[5])/this.googleService.totalActions)*100 | number: '1.0-0' }}%</p>
          <h5>Visit Your Website</h5>
          <p>The number of times the website was clicked.</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[6]}}</h1>
          <p>{{ ((this.googleService.basic[6])/this.googleService.totalActions)*100 | number: '1.0-0' }}%</p>
          <h5>Call You</h5>
          <!-- <i class="fas fa-phone" title="Call You"></i> -->
          <p>The number of times the phone number was clicked.</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[7]}}</h1>
          <p>{{ ((this.googleService.basic[7])/this.googleService.totalActions)*100 | number: '1.0-0' }}%</p>
          <h5>Request Directions</h5>
          <!-- <i class="fas fa-directions" title="Request Directions"></i> -->
          <p>The number of times driving directions were requested.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center p-5">
      <h3>Local Post Actions</h3>
      <div class="d-flex flex-row flex-wrap justify-content-center mt-3">
        <div class="m-2 p-5 metric-display">
          <h1>{{ this.googleService.totalActionsLocalPost}}</h1>
          <h5>Total Actions Local Post</h5>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[12]}}</h1>
          <p>{{ ((this.googleService.basic[12])/this.googleService.totalActionsLocalPost)*100 | number: '1.0-0' }}%</p>
          <h5>Local Post Viewed</h5>
          <!-- <i class="far fa-eye" title="Local Post Viewed"></i> -->
          <p>The number of times the local post was viewed on Google Search.</p>
        </div>
        <div class="m-2 p-3 metric-display">
          <h1>{{ this.googleService.basic[13]}}</h1>
          <p>{{ ((this.googleService.basic[13])/this.googleService.totalActionsLocalPost)*100 | number: '1.0-0' }}%</p>
          <h5>Call-To-Action</h5>
          <!-- <i class="fas fa-phone" title="Call-To-Action"></i> -->
          <p>The number of times the call to action button was clicked on Google.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center p-5">
      <h3>Driving Directions Requests</h3>
      <p>The areas where customers request directions to your business from</p>
      <div class="d-flex flex-row flex-wrap justify-content-center mt-3">
        <div class="m-2 p-5 metric-display" *ngFor="let area of this.googleService.driving">
          <h1>{{ area.count }}</h1>
          <h5>{{ area.label }}</h5>
          <!-- <i class="fas fa-location-arrow" title="Area of request directions"></i> -->
        </div>
      </div>
    </div>
  </div>
</div>