.navbar{
    height: 10vh;
    background-color: navy;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.navbar-nav li{
    margin: auto 5px;
    font-size: 1.5em;
}

a:hover{
    cursor: pointer;
}

#sidebar {
    background-color: navy;
}

aside{
    height: 90vh;
    width: 70px !important;
    position: sticky;
    top: 10vh;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

aside:hover{
    width: 260px !important;
}

.nav{
    margin: 0;    
}

.nav .active{
    background-color: blue;
}

.nav .nav-item{
    display: block;
    width: 260px;
    padding: 10px 20px !important;
    color: white;
    text-transform: uppercase;
    font-size: small;
    outline: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    /* border-bottom: 1px dotted white; */
}

.nav .nav-item:hover{
    background-color: blue;
    cursor: pointer;
}

.nav .nav-item i{
    width: 30px;
    margin-right: 20px;
    color: white;
    box-shadow: 0 0 5px white;
    /* border: 2px solid gold;
    border-radius: 50%; */
    text-align: center;
    padding: 5px;
}

.nav .nav-item:hover i{
    color: white;
    /* transform: rotateY(360deg); */
    box-shadow: 0 0 5px white;
    transition: all 1s ease-in-out;
}

@media (max-width: 992px){
    aside{
        display: none;
    }
}

#collapsed-sidenav{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
    background-color: navy;
    z-index: 1001;
}
/* #collapsed-sidenav .nav {
    height: 100%;
} */

#collapsed-sidenav .nav .nav-item{
    width: 100%;
}

.footer {
    color: gold;
    text-align: center;
}
.datecss{
    margin-top: 20px !important;
}
/* 
.imgCss {
    width: 180px;
    height : 180px;
    overflow: hidden;
    
    
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background:white;
    display: inline-block;
    position: relative;
  }

  .imgCssgoogle {
    width: 180px;
    height : 180px;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    margin-left: auto !important;
    margin-right: auto !important;
    background:white;
    display: block;
    position: relative;
  }

.close{
    position: absolute !important;
    background: red !important;
    color: white !important;
    top: 15px !important;
    right: 15px !important;
    border-radius: 10%;
    padding: 1px;
}
.close:hover{
    cursor: pointer;
} */

.imgCss {
    width: 180px;
    height : 180px;
    overflow: hidden;
    
    /* border: 2px solid Black; */
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    background:white;
    display: inline-block;
    /* box-shadow: 5px 5px 2px #888888; */
    position: relative;
 
  }

  .imgCssgoogle {
    width: 180px;
    height : 180px;
    overflow: hidden;
    padding: 15px 15px 15px 15px;
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    background:white;
    display: block;
    position: relative;
  
  }

.close{
    position: absolute !important;
    border: 1px gray solid;
    background-color: black !important;
    color: white!important;
    top: 6px !important;
    right: 6px !important;
    border-radius: 50% !important;
    padding: 1px 4px;
    z-index: 1 !important;
}
.close:hover{
    cursor: pointer;
    background-color:white !important;
    color: black !important;
    border: 1px gray solid;
}
.mainmenu, .submenu {
    list-style: none;
    /* / padding: 0; / */
    font-weight: normal;
    /* / margin: 0; /
    / font-size: 18px !important / */
    }
    
    /* / / make ALL links (main and submenu) have padding and background color / / */
    .mainmenu a {
    display: block;
    /* / background-color: #CCC; /
    / text-decoration: none; / */
    /* / padding: 10px; / */
    /* / / color: #000; / / */
    }
    
    /* / / add hover behaviour / / */
    .mainmenu a:hover {
    /* / background-color: navy; / */
    color: white;
    }
    .mainmenu li:hover .submenu {
    display: block;
    max-height: 250px;
    color: white;
    }
    .submenu {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
    }

    #collapsed-sidenav .mainmenu, .submenu {
        list-style: none;
        /* / padding: 0; / */
        font-weight: normal;
        /* / margin: 0; /
        / font-size: 18px !important / */
        }

        #collapsed-sidenav  .mainmenu a {
            display: block;
            /* / background-color: #CCC; /
            / text-decoration: none; / */
            /* / padding: 10px; / */
            /* / / color: #000; / / */
            }

            #collapsed-sidenav  .mainmenu a:hover {
                /* / background-color: navy; / */
                color: white;
                }

                #collapsed-sidenav  .mainmenu li:hover .submenu {
                    display: block;
                    max-height: 250px;
                    color: white;
                    }

                    #collapsed-sidenav   .submenu {
                        overflow: hidden;
                        max-height: 0;
                        transition: all 0.5s ease-out;
                        }
            
