<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand"><img src="../../assets/imgs/SpecView.png" alt="SpecView" width="150px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed-sidenav"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class='ml-3'>
      <h4 class='float-right text-white datecss'> <i class="far fa-calendar-alt"></i> {{today | date:'dd-MM-yyyy'}}</h4>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="openReferFriendModal(referFriend)" [disabled]='!userService.sms || !sharedService.isFeedbakTemplate'>
          Refer Friend</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" (click)="openQuickInviteModal(quickInvite)" [disabled]='!userService.sms || !sharedService.isFeedbakTemplate'>Quick
          Invite
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="openQuickPostModal(quickPost)"
          [disabled]='!(googleService.connectedWithGoogle || fbService.connectedWithFacebook)'>Quick
          Post</button>
      </li>
      <!-- <li class="nav-item active"
        *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle && !zomatoService.connectedWithZomato">
        <a class="nav-link text-warning"><i class="fas fa-exclamation-triangle"></i> Not Connected!</a>
      </li> -->
      <!-- <li class="nav-item active">
        <a class="nav-link"><i class="far fa-bell"></i></a>
      </li> -->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.data.businessname | titlecase}}
          <i class="far fa-user-circle"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/home/settings"><i class="fas fa-user-cog"></i> Settings</a>
          <a class="dropdown-item" routerLink="/home/support"><i class="fas fa-headset"></i> Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)='openLogoutModal(logoutModel)'><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <aside class="collapse show" id="sidebar">
      <ul class="nav flex-column mainmenu">
        <li class="nav-item" routerLinkActive="active" routerLink="/home/dashboard"><i
            class="fas fa-tachometer-alt"></i> Dashboard</li>
        <li class="nav-item" routerLinkActive="active">
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" #submenu
            style="color: white;text-decoration: none">
            <i class="fas fa-chart-line"></i> Analytics
          </a>
          <ul class="list-unstyled submenu">
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/home/analytics" style="color: white;text-decoration: none">
                <i class="fas fa-chart-line"></i> Speclocal Analytics
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="googleService.connectedWithGoogle">
              <a routerLink="/home/googleanalytics" style="color: white;text-decoration: none">
                <i class="fab fa-google"></i> Google Analytics
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/home/facebookanalytics" style="color: white;text-decoration: none">
                <i class="fab fa-facebook"></i> Facebook Analytics
              </a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item" [class.active]="activePath =='/home/googleanalytics'" routerLink="/home/googleanalytics"
          *ngIf="googleService.connectedWithGoogle"><i class="fab fa-google"></i> Google Analytics</li> -->
        <li class="nav-item" routerLinkActive="active" routerLink="/home/reviews"><i class="fas fa-star"></i> Reviews
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/home/feedback"><i class="far fa-comment-dots"></i>
          Feedback</li>
        <!-- <li class="nav-item" routerLink="/home/leaderboard"><i class="fas fa-trophy"></i> Leaderboard</li>
        <li class="nav-item" routerLink="/home/locations"><i class="fas fa-map-marker-alt"></i> Locations</li> -->
        <li class="nav-item" routerLinkActive="active" routerLink="/home/customers"><i class="fas fa-users"></i>
          Customers</li>
        <li class="nav-item" routerLinkActive="active" routerLink="/home/campaign"><i class="fas fa-ad"></i> Campaign
        </li>
        <li class="nav-item" routerLinkActive="active" routerLink="/home/employees" *ngIf="!roleEmp"><i
            class="fas fa-users" *ngIf="!roleEmp"></i> Employees</li>
      </ul>
    </aside>
    <main class="col">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


<div class="collapse menuCss" id="collapsed-sidenav">
  <div class="p-4 text-center text-white">
    <h3>{{user.data.firstname | titlecase}} {{user.data.lastname | titlecase}}</h3>
    <!-- <a (click)='logout()'><i class="fas fa-sign-out-alt"></i> LOGOUT</a> -->
    <a (click)='openLogoutModal(logoutModel)'><i class="fas fa-sign-out-alt"></i> LOGOUT</a>
  </div>
  <div class="col-md-12 p-2  text-center">
    <div class='ml-3 '>
      <h4 class='float-right text-white datecss'>{{today | date:'dd-MM-yyyy'}}</h4>
    </div>
    <button class="btn btn-danger m-1" (click)="openReferFriendModal(referFriend)">Refer Friend</button>
    <button class="btn btn-success m-1" (click)="openQuickInviteModal(quickInvite)">Quick
      Invite</button>
    <button class="btn btn-primary m-1" (click)="openQuickPostModal(quickPost)">Quick
      Post</button>
  </div>
  <ul class="nav flex-column mainmenu">
    <li class="nav-item" routerLinkActive="active" routerLink="/home/dashboard"><i class="fas fa-tachometer-alt"></i>
      Dashboard</li>
    <!-- <li class="nav-item" [class.active]="activePath =='/home/analytics'" routerLink="/home/analytics">
      <i class="fas fa-chart-line"></i> Analytics</li>
    <li class="nav-item" [class.active]="activePath =='/home/googleanalytics'" routerLink="/home/googleanalytics"
      *ngIf="googleService.connectedWithGoogle"><i class="fab fa-google"></i> Google Analytics</li> -->
    <li class="nav-item" routerLinkActive="active">
      <a class="dropdown-toggle" style="color: white;text-decoration: none">
        <i class="fas fa-chart-line"></i> Analytics
      </a>
      <ul class=" submenu list-unstyled">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/home/analytics" style="color: white;text-decoration: none">
            <i class="fas fa-chart-line"></i> Speclocal Analytics
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="googleService.connectedWithGoogle">
          <a routerLink="/home/googleanalytics" style="color: white;text-decoration: none">
            <i class="fab fa-google"></i> Google Analytics
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="emailid == 'prajakta.ecorise@gmail.com'">
          <a routerLink="/home/facebookanalytics" style="color: white;text-decoration: none">
            <i class="fab fa-facebook"></i> Facebook Analytics
          </a>
        </li>
        <!-- <li>
            <a href="#">Page 3</a>
          </li> -->
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/reviews"><i class="fas fa-star"></i> Reviews</li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/feedback"><i class="far fa-comment-dots"></i>
      Feedback</li>
    <!-- <li class="nav-item" routerLink="/home/leaderboard"><i class="fas fa-trophy"></i> Leaderboard</li>
        <li class="nav-item" routerLink="/home/locations"><i class="fas fa-map-marker-alt"></i> Locations</li> -->
    <li class="nav-item" routerLinkActive="active" routerLink="/home/customers"><i class="fas fa-users"></i> Customers
    </li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/campaign"><i class="fas fa-ad"></i> Campaign</li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/employees" *ngIf="!roleEmp">
      <i class="fas fa-users"></i> Employees</li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/settings"><i class="fas fa-cogs"></i> Settings</li>
    <li class="nav-item" routerLinkActive="active" routerLink="/home/support">
      <i class="fas fa-headset"></i> Support</li>
  </ul>
</div>


<!-- Quick Post Modal -->
<ng-template #quickPost let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Quick Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle">
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch text-center">
      <div class="m-1 p-4 border" *ngIf="!fbService.connectedWithFacebook && !googleService.connectedWithGoogle">
        <img src="../../../assets/imgs/warning-icon.png" alt="zomato" width="50px" height="50px">
        <h5 class="m-2">NOT CONNECTED WITH ANY SOCIAL MEDIA PLATFORM</h5>
        <a routerLink="/home/settings" class="btn btn-primary">Connect Now</a>
      </div>
    </div>
  </div>
  <div class="modal-body quickPost-wrapper request-demo"
    *ngIf="fbService.connectedWithFacebook || googleService.connectedWithGoogle">
    <form [formGroup]='quickPostForm' (ngSubmit)='post()'>
      <div class="text-center font-weight-bold p-3">
        <div class="custom-control custom-checkbox d-inline m-2" *ngIf="fbService.connectedWithFacebook">
          <input formControlName="onFacebook" type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Facebook</label>
        </div>
        <div class="custom-control custom-checkbox d-inline m-2" *ngIf="googleService.connectedWithGoogle">
          <input formControlName="onGoogle" type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">Google</label>
        </div>
      </div>

      <div class="form-group my-3">
        <textarea formControlName="message" class="form-control" id="post-message" rows="5"
          placeholder="Write something here..." required
          [ngClass]="{'input-required': submitted && q.message.errors}"></textarea>
      </div>
      <div class="text-center p-2 border imgCssgoogle" *ngIf="image">
        <img [src]="image" height="150px" width="150px" *ngIf="image?true:false" class="border">
        <span class="close" (click)="removeImg()">&times;</span>
      </div>
      <div class="form-group">
        <div class="form-group">
          <input type="file" #imageSelect name="file" ng2FileSelect [uploader]="uploader" />
          <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length">
            Upload Image
          </button>
        </div>
        <div class="form-group" *ngIf="googleService.connectedWithGoogle">
          <label for="exampleFormControlSelect1">Call To Action (For Google Post Only) (Optional)</label>
          <select formControlName="actionType" class="form-control" id="exampleFormControlSelect1">
            <option value="">None</option>
            <option value="BOOK">BOOK</option>
            <option value="ORDER">ORDER</option>
            <option value="SHOP">SHOP</option>
            <option value="LEARN_MORE">LEARN_MORE</option>
            <option value="SIGN_UP">SIGN_UP</option>
          </select>
        </div>
        <div class="form-group">
          <label for="post-link">Link (Optional) (Required if Call To Action Is Selected)</label>
          <input formControlName="link" type="text" class="form-control" id="post-link"
            placeholder="link URL e.g. www.example.com" [ngClass]="{'input-required': submitted && q.link.errors}">
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right">POST NOW</button>
    </form>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Close</button>
    </div> -->
</ng-template>


<!-- Quick Invite Modal -->
<ng-template #quickInvite let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Quick Invite</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="inviteForm">
      <div class="form-group">
        <label for="name">Name<span class="required">*</span></label>
        <input type="text" formControlName='name' class="form-control form-control-lg">
      </div>
      <div class="form-group">
        <label for="phoneno">Phone Number<span class="required">*</span></label>
        <!-- <input type="text" formControlName='phoneno' class="form-control form-control-lg"> -->
        <input type="number" formControlName='phoneno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
          class="form-control form-control-lg" (countryChange)="onCountryChange($event)" />
      </div>

      <div class="form-group">
        <button type="button" (click)='onSubmit()' class="btn btn-lg btn-primary float-right"
          [disabled]="inviteForm.invalid">INVITE</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Refer friend Modal -->
<ng-template #referFriend let-modal>
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Refer Friend</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form [formGroup]="referFriendForm" (ngSubmit)="refernow()">
      <div class="form-group">
        <label for="friend-name">Friend Name<span class="required">*</span></label>
        <input type="text" formControlName='name' class="form-control form-control-lg">
      </div>
      <div class="form-group">
        <label for="friend-phone">Friends Phone No.<span class="required">*</span></label>
        <!-- <input type="text" formControlName='phoneno' class="form-control form-control-lg"> -->
        <input type="number" formControlName='phoneno' ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
          class="form-control form-control-lg" (countryChange)="onCountryChange($event)" />
      </div>
      <div class="form-group">
        <label for="friend-phone">Message body<span class="required">*</span></label><br>
        <label for="note" style="color: red;font-weight: bold"><span class="required"></span>Please fill necessary
          information e.g number,link.</label>
        <textarea formControlName='refermessagebody' class="form-control form-control-lg" rows="3"
          cols="10"> </textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary float-right"
          [disabled]="referFriendForm.invalid">REFER</button>
      </div>
    </form>
  </div>

</ng-template>


<ng-template #logoutModel let-modal>
  <div class="modal-header bg-primary text-white">
    <!-- <h4 class="modal-title" id="modal-basic-title">Logout</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body request-demo">
    <form>
      <div class="form-group">
        <h4>Are you sure want to logout?</h4>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-success float-right" (click)="logout()">Yes</button>
    <button type="button" class="btn btn-lg btn-danger float-right" (click)="modal.dismiss('Cross click')">No</button>
  </div>
</ng-template>